---
layout: page
title: Frequently Asked Questions
class: faq
---

<!-- <ul class="faq-toc">
  {% assign sorted_faq = (site.faq_entries | sort: 'weight') %}
  {% for faq_entry in sorted_faq %}
    <li>
      <h2>
        <a class="post-link" href="#{{ faq_entry.title | slugify }}">{{ faq_entry.title }}</a>
      </h2>
    </li>
  {% endfor %}
</ul>
 -->
<ul class="faq-content">
  {% for faq_entry in sorted_faq %}
    <li>
      <h2>
        <a class="post-link" href="#{{ faq_entry.title | slugify }}" name="{{ faq_entry.title | slugify }}">
          {{ faq_entry.title }}
        </a>
      </h2>
      <div class="answer">
        {{ faq_entry.content }}
      </div>
    </li>
  {% endfor %}
</ul>