<p>
The official Let’s Encrypt client is available in Gentoo Portage.
</p>

{{#nginx}}
<p>
Currently, only the Apache plugin is included in Portage. However, if you want the nginx plugin, you can use Layman to add the mrueg overlay which does include the nginx plugin package:
</p>
{{/nginx}}

<pre>
  {{#nginx}}
  emerge -av app-portage/layman
  layman -S
  layman -a mrueg
  {{/nginx}}
  emerge -av app-crypt/{{package}}
</pre>

{{#apache}}
<p>
When using the Apache plugin, you will run into a “cannot find a cert or key directive” error if you’re sporting the default Gentoo httpd.conf. You can fix this by commenting out two lines in /etc/apache2/httpd.conf as follows:
</p>
<p>
Change
</p>
<pre>
&lt;IfDefine SSL&gt;
LoadModule ssl_module modules/mod_ssl.so
&lt;/IfDefine&gt;
</pre>

<p>
to
</p>

<pre>
#&lt;IfDefine SSL&gt;
LoadModule ssl_module modules/mod_ssl.so
#&lt;/IfDefine&gt;
</pre>

<p>
For the time being, this is the only way for the Apache plugin to recognise the appropriate directives when installing the certificate. Note: this change is not required for the other plugins.
</p>
{{/apache}}

{{#advanced}}
  <p>
    Do a special advanced thing.
  </p>
{{/advanced}}
