$nav-height: 60px;
$nav-color:  rgba(255,255,255,0.95);
$nav-font: 'Roboto Slab';
$nav-font-size: $default-font-size / 1.5;

nav.main-nav {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  height: $nav-height;
  background-color: $nav-color;
  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0 !important;
    list-style-type: none;
    line-height: $nav-height;
    li {
      text-align: center;
      display: inline-block;
      text-transform: lowercase;
      font-family: $nav-font;
      font-size: $nav-font-size;
      @include susy-breakpoint($md) {
        font-size: $default-font-size / 1.15;
      }
      letter-spacing: 0.05em;
      font-weight: 400;

      &.donate {
        color: $certbot-red;
      }

    }
  }
}

nav.main-nav.fixed {
  position: fixed;
}

.main-nav.hamburger {

}