# ignore docker config
docker-compose.yml
Dockerfile
.dockerignore
nginx.conf

# ignore repo docs
EDITING.md
README.md
LICENSE.txt
.git*

# ignore secrets / CI logic
build_key.enc
push-build.sh
.travis.yml

# ignore build artifacts
node_modules
_site
_instructions
.sass-cache
.jekyll-*
_docs/venv*
