# ignore docker config
docker-compose.yml
Dockerfile
.dockerignore
nginx.conf

# ignore repo docs
EDITING.md
README.md
LICENSE.txt
.git*

# ignore CI logic
push-build.sh

# ignore build artifacts
node_modules
_site
_instructions
.sass-cache
.jekyll-*
_docs/venv*
