---
title: All Instructions
layout: page
---
<a name="top">
<ul>
{% for member in site.data.instructions.all %}
  <li>
    {% capture id %}{{ member.os.name }} + " " + {{ member.server.name }}{% endcapture %}
    <a href="#{{ id | slugify }}">
      {{ member.os.name }} on {{ member.server.name }}
    </a>
  </li>
{% endfor %}
</ul>

{% for member in site.data.instructions.all %}
  {% capture id %}{{ member.os.name }} + " " + {{ member.server.name }}{% endcapture %}
  <div class="instruction-set">
    <a name="{{ id | slugify }}"></a>
    <h2>
      <a href="#{{ id | slugify}}">
        {{ member.os.name }} on {{ member.server.name }}
      </a>
    </h2>
    <h3>
      Automated Install
    </h3>
    <p>
      {{ member.instructions.automated_install }}
    </p>
    <h3>
      Automated Get Started
    </h3>
    <p>
      {{ member.instructions.automated_get_started }}
    </p>
    <h3>
      Advanced Install
    </h3>
    <p>
      {{ member.instructions.advanced_install }}
    </p>
    <h3>
      Advanced Get Started
    </h3>
    <p>
      {{ member.instructions.advanced_get_started }}
    </p>
    <a href="#top">Back to top</a>
  </div>
{% endfor %}

