{{^advanced}}
<aside class="note">
  <div class="note-header">
    <h3>Try the Certbot snap!</h3>
  </div>
<p>If you would like to help test a new way to install Certbot that automatically renews your certificates and stays up-to-date, please choose "snapd" in the system dropdown above.</p>
</aside>
{{/advanced}}

<aside class="note">
  <div class="note-header">
    <h3>Important Note:</h3>
  </div>
<p>
For more extensive instructions on how to use Certbot on Arch linux you can refer to the documentation on the
<a href="https://wiki.archlinux.org/index.php/Let%E2%80%99s_Encrypt">Arch wiki</a>
</p>
</aside>
<br>

{{> header}}

{{>installcertbot}}

{{> dnspluginssetup}}
