<p>
Since it doesn't seem like your operating system has a packaged version of Certbot, you should use our certbot-auto script to get a copy:
</p>
<pre>wget https://dl.eff.org/certbot-auto
chmod a+x certbot-auto</pre>
<p>
<tt>certbot-auto</tt> accepts the same flags as <tt>certbot</tt>; it
{{#advanced}}is a wrapper that{{/advanced}} installs all of its own
dependencies and updates the client code automatically. So you can just run:
<pre>
$ ./certbot-auto
</pre>
</p>
{{#advanced}}
<p>
<aside class="note">
    <h4>Note:</h4>
  <p><tt>certbot-auto</tt> will always try to fetch the newest version of
  itself from its most recent release. If you want it to be locked to a
  specific version and not receive automatic updates, run it with the
  <tt>--no-self-upgrade</tt> flag. Also, if you're nervous about downloading and
  running scripts from the network, some <a
  href="https://certbot.eff.org/docs/intro.html#installation">extra verification
  steps</a> are available.
  </p>
</aside>

</p>
{{/advanced}}
