<p>
Since it doesn't seem like your operating system has a packaged version of Certbot, you should use our certbot-auto script to get a copy:
</p>
<pre>
git clone https://github.com/certbot/certbot
cd certbot
./certbot-auto
</pre>
<p>
certbot-auto accepts the same flags as certbot; it installs all of its own dependencies and updates the client code automatically.
</p>
{{#advanced}}
<p>
  certbot-auto will always try to fetch the newest version of itself from its most recent release. If you want it to be locked to a specific version and not receive automatic updates, run it with the --no-self-upgrade flag.
</p>
{{/advanced}}
