{{> header}}

<li>
    <h2>Install Certbot package</h2>
    Run this command on the command line on the machine to install the Certbot package.
    <pre>
    {{package}}
    </pre>

</li>
{{#portcommand}}
<li>
    <h2>Or, if you prefer, install Certbot from ports</h2>
    Run this command on the command line on the machine to install Certbot from ports.
    <pre>
    $ cd /usr/ports/security/{{portcommand}} && make install clean
    </pre>
</li>
{{/portcommand}}

{{#advanced}}
{{#dns_plugins}}
<li>
    <h2>Install correct DNS plugin</h2>
    Run the following command, replacing &lt;PLUGIN&gt; with the name of your DNS provider.
    <pre>
        $ pkg install {{dns_package_prefix}}-&lt;PLUGIN&gt;
        <!-- idk about the html here -->
    </pre>
    For example, if your DNS provider is RFC2136, you'd run the following command:
    <pre>
        $ pkg install {{dns_package_prefix}}-rfc2136
    </pre>
</li>
{{/dns_plugins}}
{{/advanced}}

{{> dnspluginssetup}}