{{> header}}

<li>
    <h2>Install Certbot package</h2>
    Run this command on the command line on the machine to install the Certbot package.
    <pre>
    $ {{install_command}} {{package}}
    </pre>

</li>
{{#portcommand}}
<li>
    <h2>Or, if you prefer, install Certbot from ports</h2>
    Run this command on the command line on the machine to install Certbot from ports.
    <pre>
    $ cd /usr/ports/security/{{portcommand}} && make install clean
    </pre>
</li>
{{/portcommand}}

{{> dnspluginssetup}}