{{> header}}

<li>
    Install Certbot package
    <p>
    Run this command on the command line on the machine to install the Certbot package.
    <pre>{{install_command}} {{package}}</pre>
    </p>
</li>
{{#portcommand}}
<!-- TODO: should this be a ul if this is true? some duplication but meh -->
<li>
    Or, if you prefer, install Certbot from ports
    <p>
    Run this command on the command line on the machine to install Certbot from ports.
    <pre>cd /usr/ports/security/{{portcommand}} && make install clean</pre>
    </p>
</li>
{{/portcommand}}

{{> dnspluginssetup}}
