{{^advanced}}
{{#packaged}}
<aside class="note">
  <div class="note-header">
    <h3>Join our beta test!</h3>
  </div>
<p>If you would like to help test a new way to install Certbot that automatically renews your certificates and stays up-to-date, please choose "snapd" in the system dropdown above.</p>
</aside>
{{/packaged}}
{{/advanced}}

<!-- The advanced instructions don't use certbot-auto, so this warning isn't needed there. -->
{{^advanced}}
{{#deprecated_32bits}}
<aside class="note">
  <div class="note-header">
    <h3>Supported architectures:</h3>
  </div>
  <p>Certbot only supports CentOS/RHEL 6 systems running on the x86_64 architecture. To use Certbot on another architecture, you will need to upgrade your OS.</p>
</aside>
{{/deprecated_32bits}}
{{/advanced}}

{{> header}}

{{#packaged}}
<li>
    Enable EPEL repo
    <p>
    You'll need to enable the EPEL (Extra Packages for Enterprise Linux)
    repository and make sure you follow all instructions for your system,
    including enabling any other recommended repositories that may be
    required.<br>
    Follow these instructions at
    <a href='https://fedoraproject.org/wiki/EPEL#Quickstart'>
      the Fedora wiki to enable EPEL</a>.
    </p>
    <p class="centered">
    <a class="link-button" href='https://fedoraproject.org/wiki/EPEL#Quickstart'>
      enable EPEL</a>
    </p>
</li>

{{>installcertbot}}

{{/packaged}}

{{^packaged}}
{{>auto}}
{{/packaged}}


{{> dnspluginssetup}}
