{{#packaged}}
<p>
Certbot is packaged in EPEL (Extra Packages for Enterprise Linux). To use
Certbot, you must first <a
href="https://fedoraproject.org/wiki/EPEL#How_can_I_use_these_extra_packages.3F">
enable the EPEL repository</a>.
</p>
<p>
After doing this, you can install Certbot by running:
</p>
<pre>
$ sudo yum install {{package}}
</pre>
{{/packaged}}
{{^packaged}}
Not all of Certbot's dependencies are available in the standard repositories.
To use Certbot, you must first enable the EPEL (Extra Packages for Enterprise Linux)
repository by running
<pre>
$ sudo yum install epel-release
</pre>
{{>auto}}
{{/packaged}}
