{{#jessie}}
<p>If you would like to help test a new way to install Certbot that automatically renews your certificates and stays up-to-date, please choose "snapd" in the system dropdown above.</p>

<li>
    Remove packaged Certbot installation
    <p>
    We previously recommended that Debian 8 (jessie) users install Certbot from
    the packaged version. Because of important updates in the Certbot code,
    we are now recommending that Debian 8 users switch to the
    <tt>certbot-auto</tt> method, described below.<br>
    Run this command on the command line on the machine to remove previous
    installations of Certbot. If Certbot has never been installed, the command
    will not do anything.
    <pre>sudo apt-get remove certbot</pre>
    </p>
</li>
{{/jessie}}

<li>
    Install Certbot
    <p>
    Run these commands on the command line on the machine to install Certbot.
    <pre class="no-before"><ol><li>wget https://dl.eff.org/certbot-auto</li>
        <li>sudo mv certbot-auto /usr/local/bin/certbot-auto</li>
        <li>sudo chown root /usr/local/bin/certbot-auto</li>
        <li>sudo chmod 0755 /usr/local/bin/certbot-auto</li></ol></pre>
    </p>
</li>
