{{> header}}
<p>
  Since Certbot is packaged for your system, all you'll need to do is apt-get the following packages.
</p>

{{#backports_flag}}
<p>
{{#devuan}}
First you'll have to enable the Jessie backports repo in your APT sources as
shown <a
href='https://devuan.org/os/etc/apt/sources.list#add-backports-default-no'>here</a>.
{{/devuan}}
{{^devuan}}
First you'll have to follow the instructions <a href='http://backports.debian.org/Instructions/'>here</a> to enable the {{#jessie}}Jessie{{/jessie}}{{#stretch}}Stretch{{/stretch}}
backports repo, if you have not already done so.
{{/devuan}}
Then run:
</p>
{{/backports_flag}}

<pre>
$ sudo apt-get install {{package}} {{backports_flag}}
</pre>
{{>dnsplugins}}
