{{#advanced}}
{{#dns_plugins}}
<li>
    Check if your DNS provider is supported
    <p>
    See if your DNS provider is supported by Certbot by checking
    <a href='https://certbot.eff.org/docs/using.html#dns-plugins'>this list in our
      documentation</a>.
    </p>
    <p class="centered">
    <a class="link-button" href='https://certbot.eff.org/docs/using.html#dns-plugins'>check if your DNS provider supports Certbot</a>
    </p>
    <h3>Not supported?</h3>
    <p>
    If your DNS provider is not supported, pause here: run Certbot with the manual plugin by using
    <a href='https://certbot.eff.org/docs/using.html#manual'>these steps from our documentation.</a>
    </p>
    <h3>Supported?</h3>
    <p>
    If your DNS provider is supported, continue with the remaining instructions below.
    </p>
</li>
{{/dns_plugins}}
{{^dns_plugins}}
<li>
    Not supported
    <p>
    If your DNS provider is not supported, pause here: run Certbot in Docker by using
    <a href='https://certbot.eff.org/docs/install.html#running-with-docker'>these
      steps from our documentation</a>.
    </p>
</li>
{{/dns_plugins}}
{{/advanced}}
