{{#advanced}}
{{#dns_plugins}}
<li>
    Install correct DNS plugin
    <p>
    Run the following command, replacing &lt;PLUGIN&gt; with the name of your DNS provider.
    </p>
    <pre>{{install_command}} {{dns_package_prefix}}-&lt;PLUGIN&gt;</pre>
    <p>
    For example, if your DNS provider is Cloudflare, you'd run the following command:
    </p>
    <pre>{{install_command}} {{dns_package_prefix}}-cloudflare</pre>
</li>
<li>
    Set up credentials
    <p>
    You'll need to set up DNS credentials.<br>
    Follow the steps in the "Credentials" section for your DNS provider to access or create the
    appropriate credential configuration file. Find credentials instructions for your DNS provider
    by clicking the <a href='/docs/using.html#dns-plugins'>DNS plugin's name on the Documentation list</a>.
    </p>
    <p class="centered">
    <a class="link-button" href='/docs/using.html#dns-plugins'>find your DNS plugin's Credential steps</a>
    </p>
</li>
{{/dns_plugins}}
{{/advanced}}
