{{#advanced}}
{{#dns_plugins}}
<li>
    <h2>Set up credentials</h2>
    You’ll need to set up DNS credentials.<br>
    Follow the steps in the “Credentials” section for your DNS provider to access or create the
    appropriate credential configuration file. Find credentials instructions for your DNS provider
    by clicking the <a href='https://certbot.eff.org/docs/using.html#dns-plugins'>DNS plugin’s
    name on the Documentation list</a>.
    <!-- button with "find your DNS provider’s Credential steps" -->
</li>
{{/dns_plugins}}
{{/advanced}}
