<p>
The official Let’s Encrypt client is available in Gentoo Portage.
</p>

{{#advanced}}
{{#nginx}}
<h4>Warning!</h4>
<p>
You can use Layman to add the mrueg overlay which does include a package for
the Certbot Nginx plugin, however, this plugin is known to be buggy and should
only be used with caution after creating a backup up your Nginx configuration.
{{nginx_warning}}
<p>
</p>
{{/nginx}}
{{/advanced}}

<pre>
  {{#advanced}}
  {{#nginx}}
  emerge -av app-portage/layman
  layman -S
  layman -a mrueg
  {{/nginx}}
  {{/advanced}}
  emerge -av app-crypt/{{package}}
</pre>

{{#apache}}
<p>
When using the Apache plugin, you will run into a “cannot find a cert or key directive” error if you’re sporting the default Gentoo httpd.conf. You can fix this by commenting out two lines in /etc/apache2/httpd.conf as follows:
</p>
<p>
Change
</p>
<pre>
&lt;IfDefine SSL&gt;
LoadModule ssl_module modules/mod_ssl.so
&lt;/IfDefine&gt;
</pre>

<p>
to
</p>

<pre>
#&lt;IfDefine SSL&gt;
LoadModule ssl_module modules/mod_ssl.so
#&lt;/IfDefine&gt;
</pre>

<p>
For the time being, this is the only way for the Apache plugin to recognise the appropriate directives when installing the certificate. Note: this change is not required for the other plugins.
</p>
{{/apache}}
