{{> header}}
<li>
    <h2>Install Certbot</h2>
    Run this command on the command line on the machine to install Certbot.
    <pre>
    $ sudo emerge -av {{package}}
    </pre>
</li>

{{#advanced}}
{{#dns_plugins}}
<li>
    <h2>Install correct DNS plugin</h2>
    Run the following command, replacing &lt;PLUGIN&gt; with the name of your DNS provider.
    <pre>
        $ sudo emerge -av {{dns_package_prefix}}-&lt;PLUGIN&gt;
    </pre>
    For example, if your DNS provider is RFC2136, you'd run the following command:
    <pre>
        $ sudo emerge -av {{dns_package_prefix}}-rfc2136
    </pre>
</li>
{{/dns_plugins}}
{{/advanced}}

{{> dnspluginssetup}}
