<li>
  Ensure that your version of snapd is up to date
  <p>
  Execute the following instruction on the command line on the machine to ensure
  that you have the latest version of <tt>snapd</tt>.
  </p>
  <pre>sudo snap install core; sudo snap refresh</pre>
</li>

<li>
  Prepare the Certbot command
  <p>
  Execute the following instruction on the command line on the machine to ensure
  that the <tt>certbot</tt> command can be run.
  </p>
  <pre>sudo ln -s /snap/bin/certbot /usr/bin/certbot</pre>
</li>
