<aside class="note">
  <div class="note-header">
    <h3>Snap Support</h3>
  </div>
  <p>
  The Certbot snap supports the x86_64, ARMv7, and ARMv8 architectures.
  While we strongly recommend that most users install Certbot through the snap,
  you can find alternate installation instructions
  <a href="/docs/install.html">here</a>.
  </p>
</aside>
{{> header}}
<li>
    Install snapd
    <p>
    You'll need to install snapd and make sure you follow any instructions to enable classic snap support.<br>
    Follow these instructions on <a href='https://snapcraft.io/docs/installing-snapd/'>snapcraft's site to install snapd</a>.
    </p>
    <p class="centered">
    <a class="link-button" href='https://snapcraft.io/docs/installing-snapd/'>install snapd</a>
    </p>
</li>
<li>
  Ensure that your version of snapd is up to date
  <p>
  Execute the following instructions on the command line on the machine to ensure
  that you have the latest version of <tt>snapd</tt>.
  </p>
  <pre>sudo snap install core; sudo snap refresh core</pre>
</li>
<li>
    Remove certbot-auto and any Certbot OS packages
    <p>
    If you have any Certbot packages installed using an OS package manager like
    <tt>apt</tt>, <tt>dnf</tt>, or <tt>yum</tt>, you should remove them before
    installing the Certbot snap to ensure that when you run the command
    <tt>certbot</tt> the snap is used rather than the installation from your OS
    package manager. The exact command to do this depends on your OS, but
    common examples are <tt>sudo apt-get remove certbot</tt>, <tt>sudo dnf
    remove certbot</tt>, or <tt>sudo yum remove certbot</tt>.
    </p>
    <p>
    If you previously used Certbot through the certbot-auto script, you should
    also remove its installation by following the instructions <a
    href="/docs/uninstall.html">here</a>.
    </p>
</li>

{{>installcertbot}}
{{>preparecertbotsymlinkcommand}}

{{#advanced}}
{{#dns_plugins}}
<li>
  Confirm plugin containment level
  <p>
  Run this command on the command line on the machine to acknowledge that the installed
  plugin will have the same <tt>classic</tt> containment as the Certbot snap.
  </p>
  <pre>sudo snap set certbot trust-plugin-with-root=ok</pre>

  <p>
  If you encounter issues with running Certbot, you may need to follow this step, then
  the "Install correct DNS plugin" step, again.
  </p>
</li>
{{/dns_plugins}}
{{/advanced}}

{{> dnspluginssetup}}

