<p>If you would like to help test a new way to install Certbot that automatically renews your certificates and stays up-to-date, please choose "snapd" in the system dropdown above.</p>

{{> header}}

<li>
    Add Certbot PPA
    <p>
    You'll need to add the Certbot PPA to your list of repositories. To do so,
    run the following commands on the command line on the machine:
    <pre class="no-before"><ol><li>sudo apt-get update</li>
      <li>sudo apt-get install software-properties-common</li>
      <li>sudo add-apt-repository universe</li>
      <li>sudo add-apt-repository ppa:certbot/certbot</li>
      <li>sudo apt-get update</li></ol></pre>
    </p>
</li>

{{> installcertbot}}
{{> dnspluginssetup}}
