<ul class="image-bullets">
  <li class="plus-bullet">
    Help us help new users
    <p>
    We could always use help with answering questions on the community forum.
    </p>
  </li>
  <li class="plus-bullet">
    Help us keep our materials up to date
    <p>
    We have a list of hosting providers that the Let’s Encrypt community has been updating. We would be grateful for assistance in curating and maintaining this list. For more information, go to our Mattermost.
    </p>
  </li>
  <li class="mm-bullet">
    Chat with us about where we need help
    <p>
    If you’re a software developer, come talk to us on Mattermost. The team focuses on a few issues at a time, so it’s best to check in with us. Check out the current topics we’re working on.
    </p>
  </li>
  <li class="mm-bullet">
    Chat with us about an idea you’re excited to implement
    <p>
    If you have a particular feature in mind that you’re excited to implement, come talk to us on Mattermost before submitting a pull request on Github.
    </p>
  </li>
  <li class="plus-bullet">
    Found a bug?
    <p>
    If you’re having trouble with your setup, check out the community forums. If you’re reasonably sure that you’ve found a bug in Certbot code, post an issue on our Github.
    </p>
  </li>
  <li class="heart-bullet">
    <3 Donate!
    <p>
    If you love this project, we’d appreciate the help. Certbot is a free and open source project from the Electronic Frontier Foundation.
    </p>
  </li>
</ul>
