<ul class="image-bullets">
  <li class="plus-bullet">
    Help us help new users
    <p>
    We could always use <a href='https://community.letsencrypt.org/'>help with answering questions on the community forum</a>.
    </p>
  </li>
  <li class="plus-bullet">
    Help us keep our materials up to date
    <p>
      <!-- TODO: link to markdown files/folder -->
    We have a list of hosting providers that the Let’s Encrypt community has been updating. <a href=''>We would be grateful for assistance in curating and maintaining this list</a>. For more information, go to our <a href='https://opensource.eff.org/eff-open-source/channels/certbot'>Mattermost</a> (see above).
    </p>
  </li>
  <li class="mm-bullet">
    Chat with us about where we need help
    <p>
    If you’re a software developer, come talk to us on <a href='https://opensource.eff.org/eff-open-source/channels/certbot'>Mattermost</a> (see above). The team focuses on a few issues at a time, so it’s best to check in with us. <a href=''>Check out the current topics we’re working on</a>.
    <!-- TODO: add link -->
    </p>
  </li>
  <li class="mm-bullet">
    Chat with us about an idea you’re excited to implement
    <p>
    If you have a particular feature in mind that you’re excited to implement, come talk to us on <a href='https://opensource.eff.org/eff-open-source/channels/certbot'>Mattermost</a> (see above) before <a href='https://github.com/certbot/certbot/pulls'>submitting a pull request on Github</a>.
    </p>
  </li>
  <li class="plus-bullet">
    Found a bug?
    <p>
    If you’re having trouble with your setup, <a href='https://community.letsencrypt.org/'>check out the community forums</a>. If you’re reasonably sure that you’ve found a bug in Certbot code, post an issue on our <a href='https://github.com/certbot/certbot/issues'>Github</a>.
    </p>
  </li>
  <li class="heart-bullet">
    <3 Donate!
    <p>
    If you love this project, <a href='https://supporters.eff.org/donate/support-work-on-certbot'>we’d appreciate the help</a>. Certbot is a free and open source project from the Electronic Frontier Foundation.
    </p>
  </li>
</ul>
