<footer class="footer">

  <a href="https://www.eff.org"><img class="project-of" src="/images/EFF-bw-logo-white.svg"></a>

  <ul>
    <li><a href="/privacy">Privacy</a></li>
    <li><a href="/support">Contact</a></li>
    <li><a href="https://letsencrypt.org/" class="letsencrypt">Let's Encrypt&trade;</a></li>
    {% if page.class == "faq" %}
      <li><a href="https://creativecommons.org/licenses/by-nc/2.0/"><img src="/images/cc-by-nc-logo.png"></a></li>
    {% else %}
      <li><a href="https://www.eff.org/copyright"><img src="/images/cc-by-logo.png"></a></li>
    {% endif %}

  </ul>

<noscript><img src="https://anon-stats.eff.org/piwik.php?idsite=24&amp;rec=1&amp;action_name=" style="border:0" height="0" width="0" alt="" /></noscript>
<div style="height: 0; width: 0; position: absolute" id="anon-stats"></div>
<script type="text/javascript">
document.getElementById('anon-stats').innerHTML = '<img src="https://anon-stats.eff.org/piwik.php?idsite=24&amp;rec=1&amp;urlref=' + encodeURIComponent(document.referrer) + '&amp;action_name=' + encodeURIComponent(document.title) + '" style="border:0" height="0" width="0" alt="" />';
</script>

</footer>
