<footer class="footer">

  <ul>
    <li><a href="https://www.eff.org"><img src="/images/project-of-eff.png"></a></li>
    <li><a href="https://www.eff.org/policy">Privacy</a></li>
    <li><a href="https://www.eff.org/about/contact">Contact</a></li>
    <li><a href="https://www.eff.org/copyright"><img src="/images/cc-by-logo.png"></a></li>

  </ul>

<noscript><img src="https://anon-stats.eff.org/piwik.php?idsite=24&amp;rec=1&amp;action_name=" style="border:0" height="0" width="0" alt="" /></noscript>
<div style="height: 0; width: 0; position: absolute" id="anon-stats"></div>
<script type="text/javascript">
document.getElementById('anon-stats').innerHTML = '<img src="https://anon-stats.eff.org/piwik.php?idsite=24&amp;rec=1&amp;urlref=' + encodeURIComponent(document.referrer) + '&amp;action_name=' + encodeURIComponent(document.title) + '" style="border:0" height="0" width="0" alt="" />';
</script>

</footer>
