<div class="js-only">
  <span id="using">My HTTP website is running</span>
  <select id="server-select" name="server">
    <optgroup>
      <option value="" disabled selected>Software</option>
      {% for webserver in site.data.inputs.webservers %}
        <option value="{{ webserver.id }}">{{ webserver.name }}</option>
      {% endfor %}
    </optgroup>
  </select>

  <span id="on">on</span>
  <select id="os-select" name="os">
    <optgroup>
      <option value="" disabled selected>System</option>
      {% for os in site.data.inputs.operating_systems %}
        <option value="{{ os.id }}" data-distro="{{ os.distro }}" data-version="{{ os.version }}">{{ os.name }}</option>
      {% endfor %}
    </optgroup>
  </select>
</div>

<div class="no-js-only">
  No javascript? See all setup instructions <a href="/all-instructions">here</a>. Read the full documentation <a href="/docs/">here</a>.
</div>
