<header class="hero">
  <div id="wink">&nbsp;</div>

  <a href="/"><img class="logo" src="/images/certbot-logo-1A.svg" alt="Certbot"></a>

  <h1>Automatically enable HTTPS on your website with EFF's Certbot, deploying
  <a href="https://letsencrypt.org/" target="_blank" rel="noreferrer">Let's Encrypt</a> certificates.</h1>

  <div class="instruction-widget">
    No javascript? See all setup instructions <a href="all-instructions">here</a>. Read the full documentation <a href="docs">here</a>.
  </div>

</header>
