<div id="table-anchor" class="hosting-table-wrapper">
  <div class="hosting-table-tabs">
    <div id="full-https" class="hosting-tab">
      <img src="/images/GreenCheck.svg">
      <br class="mobile-only">
      full HTTPS support
    </div>
    <div id="partial-https" class="hosting-tab">
      <img src="/images/PartialHTTPSSupport.svg">
      <br class="mobile-only">
      partial HTTPS support
    </div>
    <div id="no-https" class="hosting-tab">
      <img src="/images/NoHTTPSSupport.svg">
      <br class="mobile-only">
      no HTTPS support
    </div>
  </div>
  <div id="full-header" class="tab-header-wrapper">
    <div class="tab-header">
      <img src="/images/FullHTTPSSupport.svg">
      <div class="header-text">
        <h2>Full HTTPS Support</h2>
        <p>Good news! You already have HTTPS!</p>
      </div>
    </div>
  </div>
  <div id="partial-header" class="tab-header-wrapper">
    <div class="tab-header">
      <img src="/images/Slider-PartialSupport.svg">
      <div class="header-text">
        <h2>Partial HTTPS Support</h2>
        <p>Good news! You have HTTPS, but you need to follow a tutorial to turn it on.</p>
      </div>
    </div>
  </div>
  <div id="no-header" class="tab-header-wrapper">
    <div class="tab-header">
      <img src="/images/NoHTTPS.svg">
      <div class="header-text">
        <h2>No HTTPS Support</h2>
        <p>HTTPS isn't included in the shared hosting packages of these providers</p>
      </div>
    </div>
    <span>Consider switching hosting providers or to a more manual hosting product like 
      {% include tooltip.html term-name="virtual-private-server" text="VPS" %} or
      {% include tooltip.html term-name="dedicated-server" text="dedicated servers" %}</span>
  </div>
  <table id="hosting-providers">
    <thead>
      <tr>
        <th>hosting provider</th>
        <th class="fixed-width"></th>
        <th class="category">category</th>
        <th>relevant link</th>
        <th>last reviewed by us</th>
        <th>note</th>
      </tr>
    </thead>
    <tbody>
      {% for host in site.data.hosting_providers %}
      <tr>
        <td><a href="{{ host.link }}">{{ host.name }}</a></td>
        {% if host.category == "full" %}
        <td><img src="/images/GreenCheck.svg"></td>
        {% elsif host.category == "partial" %}
        <td><img src="/images/PartialHTTPSSupport.svg"></td>
        {% else %}
        <td><img src="/images/NoHTTPSSupport.svg"></td>
        {% endif%}
        <td>{{ host.category }}</td>
        {% if host.tutorial != "" and host.tutorial != "[No need to find this]" %}
        <td><a href="{{ host.tutorial }}">tutorial</a></td>
        {% elsif host.announcement != "" and host.announcement != "[No need to find this]" %}
        <td><a href="{{ host.announcement }}">announcement</a></td>
        {% elsif host.plan != "" and host.plan != "[No need to find this]" %}
        <td><a href="{{ host.plan }}">SSL plan details</a></td>
        {% else %}
        <td></td>
        {% endif %}
        <td>{{ host.reviewed }}</td>
        <td>{{ host.note }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
