<div class="home-https">
  <!-- get your site on https:// -->
  <div class="lightest-gray-bg">
    <h1>Get your site on <img class="text-icon" src="/images/Lock.svg"> https://</h1>
  </div>
  <div class="med-gray-bg col-50">
    <div class="gif"><br/></div>
    <div class="col">
      <img class="icon mobile-hidden" src="/images/FullHTTPSSupport.svg">
      <div class="circle mobile-only">
        <img class="icon" src="/images/FullHTTPSSupport.svg">
      </div>
      <div class="content-wrapper mobile-hidden">
        <h2>Find out if your hosting provider has HTTPS built in &mdash; no Cerbot needed.</h2>
        <a class="link-button">See the list of providers</a>
      </div>
      <div class="mobile-only">
        <h2>
          See if your hosting provider
          <a href="/hosting_providers">offers HTTPS.<img src="images/chevron-right.png" class="link-arrow"/></a></h2>
      </div>
    </div>
  </div>
  <div class="light-gray-bg col-50">
    <div class="gif"><br/></div>
    <div class="col">
      <img class="icon right mobile-hidden" src="/images/Certbot-solid.svg">
      <div class="circle mobile-only">
        <img class="icon right" src="/images/Certbot-solid.svg">
      </div>
      <div class="content-wrapper mobile-hidden">
        <h2>Or, run Certbot once to automatically get free HTTPS certificates forever.</h2>
        <a class="link-button">Get Certbot instructions</a>
      </div>
      <div class="mobile-only">
        <h2>Or, get instructions for <a href="/instructions">Certbot.<img src="images/chevron-right.png" class="link-arrow"/></a></h2>
      </div>
    </div>
  </div>
</div>

