<div class="home-https">
  <!-- get your site on https:// -->
  <div class="lightest-gray-bg">
    <h1>Get your site on <img alt="Lock" class="text-icon" src="/images/Lock.svg"> https://</h1>
  </div>
  <div class="med-gray-bg col-50">
    <div class="gif centered"><img alt="Animation showing a slider moving from a lock with an X to a lock with a checkmark" src="/images/Lock-Slider.gif"></div>
    <div class="col">
      <img alt="Lock with a checkmark" class="icon mobile-hidden" src="/images/FullHTTPSSupport.svg">
      <div class="circle mobile-only">
        <a href="/hosting_providers"><img alt="Lock with a checkmark" class="icon" src="/images/FullHTTPSSupport.svg"></a>
      </div>
      <div class="content-wrapper mobile-hidden">
        <h2>Find out if your hosting provider has HTTPS built in &mdash; no Certbot needed.</h2>
        <a href="/hosting_providers" class="link-button">See the list of providers</a>
      </div>
      <div class="mobile-only centered">
        <h2>
          See if your hosting provider
          <a href="/hosting_providers">offers HTTPS.<img alt="Red arrow pointing right" src="images/chevron-right.png" class="link-arrow"/></a></h2>
      </div>
    </div>
  </div>
  <div class="light-gray-bg col-50">
    <div class="gif"><img alt="Animation showing 'install certbot' typed at a commandline" src="/images/InstallCertbot.gif"></div>
    <div class="col">
      <img alt="Certbot robot logo" class="icon right mobile-hidden" src="/images/Certbot-solid.svg">
      <div class="circle mobile-only">
        <a href="/instructions"><img alt="Certbot robot logo" class="icon right" src="/images/Certbot-solid.svg"></a>
      </div>
      <div class="content-wrapper mobile-hidden">
        <h2>Or, run Certbot once to automatically get free HTTPS certificates forever.</h2>
        <a href="/instructions" class="link-button">Get Certbot instructions</a>
      </div>
      <div class="mobile-only centered">
        <h2>Or, get instructions for <a href="/instructions">Certbot.<img alt="Red arrow pointing right" src="images/chevron-right.png" class="link-arrow"/></a></h2>
      </div>
    </div>
  </div>
</div>

