<div class="home-https">
  <!-- get your site on https:// -->
  <div class="lightest-gray-bg">
    <h1>Get your site on https://</h1>
  </div>
  <div>
    <div class="med-gray-bg col-50">
      <div class="white-bg padded"><br/></div>
      <div class="col-40">
        <img src="/images/support-icon.svg">
      </div>
      <div class="col-60">
        <div class="content-wrapper">
          <h2>Find out if your hosting provider has HTTPS built in &mdash; no Cerbot required.</h2>
          <a class="link-button">See the list of providers</a>
        </div>
      </div>
    </div>
    <div class="light-gray-bg col-50">
      <div class="white-bg padded"><br/></div>
      <div class="col-60">
        <div class="content-wrapper">
          <h2>Or, run Certbot once to automatically get free HTTPS certificates forever.</h2>
          <a class="link-button">Get Certbot instructions</a>
        </div>
      </div>
      <div class="col-40">
        <img src="/images/support-icon.svg">
      </div>
    </div>
  </div>
</div>

