<!-- <nav class="social">
  <ul>

    <li><a href="https://www.facebook.com/share.php?u=https%3A//certbot.eff.org&title=Certbot"><i class="icon-facebook"></i></a></li>
    <li><a href="https://twitter.com/intent/tweet?text=Check%20out%20Certbot,%20an%20%40EFF%20tool%20that%20makes%20it%20easy%20to%20get%20and%20configure%20HTTPS%20with%20Let's%20Encrypt%20certificates;url=https%3A//certbot.eff.org&amp;related=eff"><i class="icon-twitter"></i></a></li>
    <li><a href="https://plus.google.com/share?url=https://certbot.eff.org"><i class="icon-google"></i></a></li>
  </ul>
</nav>
 -->
<footer class="social">
  <ul>
    <li><a href="https://www.facebook.com/share.php?u=https%3A//certbot.eff.org&title=Certbot" target="_blank" rel="noreferrer"><i class="icon-facebook"></i></a></li>
    <li><a href="https://twitter.com/intent/tweet?text=Check%20out%20Certbot,%20an%20%40EFF%20tool%20that%20makes%20it%20easy%20to%20get%20and%20configure%20HTTPS%20with%20Let's%20Encrypt%20certificates;url=https%3A//certbot.eff.org&amp;related=eff" target="_blank" rel="noreferrer"><i class="icon-twitter"></i></a></li>
    <li><a href="https://plus.google.com/share?url=https://certbot.eff.org" target="_blank" rel="noreferrer"><i class="icon-google"></i></a></li>
  </ul>
</footer>
