<footer class="social">
  <ul>
    <li><a href="https://www.facebook.com/share.php?u=https%3A%2F%2Fcertbot.eff.org&amp;title=Certbot" target="_blank" rel="noreferrer"><i class="icon-facebook"></i></a></li>
    <li><a href="https://twitter.com/intent/tweet?text=Check%20out%20Certbot%2C%20an%20%40EFF%20tool%20that%20makes%20it%20easy%20to%20get%20and%20configure%20HTTPS%20with%20Let%27s%20Encrypt%20certificates&amp;url=https%3A%2F%2Fcertbot.eff.org&amp;related=eff" target="_blank" rel="noreferrer"><i class="icon-twitter"></i></a></li>
    <li><a href="https://plus.google.com/share?url=https%3A%2F%2Fcertbot.eff.org" target="_blank" rel="noreferrer"><i class="icon-google"></i></a></li>
  </ul>
</footer>
