<nav class="main-nav fixed">
  <div class="logo">
    <img src="/images/certbot-logo-1A.svg" alt="Certbot logo, a robot holding a key"/>
  </div>

  <ul>
    <li><a href="/"><img src="/images/EFF-logo-plain.svg" alt="Electonic Frontier Foundation"></a></li>
    <li><a href="/instructions">certbot instructions</a></li>
    <li><a href="/about/">about certbot</a></li>
    <li><a href="/contribute/">contribute to certbot</a></li>
    <li><a href="/hosting_providers/">hosting providers with HTTPS</a></li>
    <li><a href="/help/">get help</a></li>
    <li class="donate"><a target="_blank" href="https://supporters.eff.org/donate/support-work-on-certbot">donate</a></li>
    <li id="hamburger">&#x2261;</li>
  </ul>
</nav>
