<nav class="main-nav fixed">
  <ul>
    <li><a href="/"><img src="/images/EFF-logo-plain.svg"></a></li>
    <li><a href="/">Home</a></li>
    <li><a href="/about/">About Certbot</a></li>
    <li><a href="/faq/">FAQ</a></li>
    <li><a href="/docs/">Documentation</a></li>
    <li><a href="/support/">Support</a></li>
    <li><a href="https://github.com/certbot/certbot">Source Code</a></li>
    <li class="donate"><a href="https://supporters.eff.org/donate/support-work-on-certbot">donate to EFF</a></li>
    <li id="hamburger">&#x2261;</li>
  </ul>
</nav>
