<div class="use-certbot">
  <h1>To use Certbot, you'll need...</h1>
  <div class="reqs">
    <div class="col-thirds">
      <img src="/images/support-icon.svg">
    </div>
    <div class="col-thirds">
      <img src="/images/support-icon.svg">
    </div>
    <div class="col-thirds">
      <img src="/images/support-icon.svg">
    </div>
    <div class="col-thirds">
      <div class="text-wrapper">
        <span>comfort with the command line</span>
      </div>
    </div>
    <div class="col-thirds">
      <div class="text-wrapper">
        <span>
          ...and an HTTP website
          <br/>
          that is already online
          <br/>
          with an open Port 80
        </span>
      </div>
    </div>
    <div class="col-thirds">
      <div class="text-wrapper">
        <span>
          ...which is hosted on a server
          <br/>
          which you can access via SSH
          <br/>
          with the ability to sudo
          <br/>
        </span>
        <span class="italic">
          optional if you want a wildcard cert:
          DNS credentials
        </span>
      </div>
    </div>
  </div>

  <h1>Don't have these requirements?</h1>
  <p>
  Not to worry! Some hosting providers automate the HTTPS process.
  <a>
    See the full list of hosting providers, or checkout a tutorial to get
    these things set up.
  </a>
  </p>
</div>
