<div class="use-certbot">
  <h1>To use Certbot, you'll need...</h1>
  <div class="reqs">
    <div class="col">
      <img src="/images/Computer.svg">
      <div class="text-wrapper">
        <span>comfort with the command line</span>
      </div>
    </div>
    <div class="col">
      <img src="/images/HTTPsite.svg">
      <div class="text-wrapper">
        <span>
          ...and an
          {% include tooltip.html term-name="HTTP" %}
          website
          <br/>
          that is already online
          <br/>
          with an open Port 80
        </span>
      </div>
    </div>
    <div class="col">
      <img src="/images/Server.svg">
      <div class="text-wrapper">
        <span>
          ...which is hosted on a server
          <br/>
          which you can access via SSH
          <br/>
          with the ability to sudo
          <br/>
        </span>
        <span class="italic">
          optional if you want a wildcard cert:
          DNS credentials
        </span>
      </div>
    </div>
  </div>

  <div class="mobile-hidden">
    <h1>Don't have these requirements?</h1>
    <p>
    Not to worry! Some hosting providers automate the HTTPS process.
    <a href="/hosting_providers">See the full list of hosting providers</a>, or <a href="">checkout a tutorial to get these things set up.</a>
    </p>
  </div>
</div>
