.hosting-table-wrapper {
  width: 98%;
  margin: 2em 1%;
  @include susy-breakpoint($md) {
    width: 58%;
    margin: 3em 20%;
    border: 2px solid #D9D9D9;
  }
  .tab-header-wrapper {
    display: none;
    &.visible {
      display: block;
    }
    span {
      display: block;
      font-family: $header-font-family;
      font-weight: bold;
      margin: 0 1em;
      @include susy-breakpoint($md) {
        text-align: center;
      }
      a {
        font-family: $header-font-family;
        font-weight: bold;
      }
    }
    &#partial-header {
      img {
        margin-right: 1em;
      }
    }
  }

  .tab-header {
    display: flex;
    justify-content: center;
    margin: 1em 10%;
    img {
      height: 80px;
      @include susy-breakpoint($md) {
        height: 100px;
      }
    }
    .header-text {
      margin-top: auto;
    }
    h2 {
      line-height: 0.9em;
      font-size: 20px;
      font-weight: 400;
      @include susy-breakpoint($md) {
        font-weight: bold;
        font-size: 28px;
      }
      @include susy-breakpoint($lg) {
        font-size: 32px;
      }
    }
    p {
      font-family: $header-font-family;
      margin-bottom: 0;
      font-size: 16px;
      @include susy-breakpoint($md) {
        font-size: 20px;
      }
      @include susy-breakpoint($lg) {
        font-size: 22px;
      }
    }
  }
}

.hosting-table-tabs {
  background: gray;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto 0.5em;
  padding-top: 1rem;
  @include susy-breakpoint($md) {
    align-items: stretch;
    flex-direction: row;
  }
  .hosting-tab {
    background-color: #efefef;
    border-left: 1px solid gray;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    font-family: $header-font-family;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: underline;
    width: 20%;
    @include susy-breakpoint($lg  ) {
      font-size: 13px;
      height: 46px;
      padding: 0 1%;
    }
    &:hover {
      cursor: pointer;
    }
    img {
      display: block;
      margin: 0 auto;
      margin-bottom: -1em;
      @include susy-breakpoint($md) {
        padding-left: 0.5em;
        padding-top: 0.5em;
        float: right;
      }
    }
  }
  .active {
    background: white;
    border-top: 1px solid gray;
  }
}

.dataTables_filter {
  text-align: right;
  padding-bottom: 0.5em;
  input {
    margin-left: 0.5em;
    @include susy-breakpoint($md) {
      margin: 0.5em;
    }
  }
}

.dataTables_wrapper {
  @include susy-breakpoint($md) {
    width: 100% !important;
  }
}
.dataTable {
  @include susy-breakpoint($md) {
    width: 100% !important;
  }
  border: none;
  border-spacing: unset;
  border-collapse: separate;
  border-spacing: 0 1em;
  white-space: nowrap;
  table-layout: fixed;
  thead {
    background-color: #D9D9D9;
    font-size: 18px;
    text-align: left;
    vertical-align: bottom;
  }
  th {
    padding: 0 0.5em;
    padding-bottom: 5px;
    height: 3em;
  }
  th:last-of-type {
    text-align: center;
    white-space: normal;
  }
  td {
    vertical-align: center;
    min-width: 20px;
    padding: 0 0.5em;
  }
  td:first-child {
    @include susy-breakpoint($md) {
      white-space: normal;
      word-wrap: break-word;
    }
  }
  td:last-child {
    font-size: 14px;
    @include susy-breakpoint($md) {
      white-space: normal;
      word-wrap: break-word;
    }
  }
  a {
    text-decoration: underline;
  }
  img {
    width: 20px;
  }
  .fixed-width {
    width: 25px !important;
  }
}
