.hosting-table-wrapper {
  width: 98%;
  margin: 2em 1%;
  @include susy-breakpoint($md) {
    width: 58%;
    margin: 3em 20%;
    border: 2px solid #D9D9D9;
  }

  .tab-header {
    display: none;
    padding: 0 1em;
    height: 120px;
    @include susy-breakpoint($md) {
      height: 180px;
      padding: 0 21%;
    }
    &.visible {
      display: block;
    }
    img {
      float: left;
      height: 80px;
      @include susy-breakpoint($md) {
        height: 100px;
      }
    }
    h2 {
      line-height: 0.9em;
      padding-top: 15px;
      font-size: 20px;
      font-weight: 400;
      @include susy-breakpoint($md) {
        font-weight: bold;
        padding-top: 45px;
        font-size: 32px;
      }
    }
    p {
      font-family: $header-font-family;
      font-size: 16px;
      @include susy-breakpoint($md) {
        font-size: 22px;
      }
    }
    span {
      display: block;
      font-family: $header-font-family;
      font-weight: bold;
      @include susy-breakpoint($md) {
        text-align: center;
        margin: 0 -40%;
      }
      a {
        font-family: $header-font-family;
        font-weight: bold;
      }
    }
    &#full-header {
      height: 80px;
      margin-top: 90px;
      margin-bottom: 2em;
      @include susy-breakpoint($md) {
        height: 110px;
      }
    }
    &#no-header {
      margin-top: 90px;
      height: 200px;
      @include susy-breakpoint($md) {
        height: 180px;
      }
      h2 {
        padding-top: 12px;
      }
    }
    &#partial-header {
      @include susy-breakpoint($md) {
        padding: 0;
      }
      @include susy-breakpoint(min-width 1740px) {
        padding-bottom: 1em;
      }
      h2 {
        @include susy-breakpoint($md) {
          padding-top: 70px;
        }
        @include susy-breakpoint(min-width 1740px) {
          padding-top: 110px;
        }
      }
      img {
        width: 70px;
        height: 70px;
        padding-top: 2em;
        padding-bottom: 2em;
        padding-left: 1em;
        padding-right: 2em;
        @include susy-breakpoint($md) {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}

.hosting-table-tabs {
  width: 98%;
  margin: 0.5em auto;
  display: flex;
  justify-content: space-around;
  height: 80px;
  @include susy-breakpoint($md) {
    height: 50px;
    flex-direction: row;
  }
  .hosting-tab {
    font-weight: bold;
    font-family: $header-font-family;
    text-align: center;
    &:hover {
      cursor: pointer;
    }
    img {
      display: block;
      margin: 0 auto;
      margin-bottom: -1em;
      @include susy-breakpoint($md) {
        padding-left: 0.5em;
        float: right;
      }
    }
  }
}

.dataTables_filter {
  text-align: right;
  padding-bottom: 0.5em;
  input {
    margin-left: 0.5em;
    @include susy-breakpoint($md) {
      margin: 0.5em;
    }
  }
}

.dataTables_wrapper {
  @include susy-breakpoint($md) {
    width: 100% !important;
  }
}
.dataTable {
  @include susy-breakpoint($md) {
    width: 100% !important;
  }
  border: none;
  border-spacing: unset;
  border-collapse: separate;
  border-spacing: 0 1em;
  white-space: nowrap;
  table-layout: fixed;
  thead { 
    background-color: #D9D9D9;
    font-size: 18px;
    text-align: left;
    vertical-align: bottom;
  }
  th { 
    padding: 0 0.5em;
    padding-bottom: 5px;
    height: 3em;
  } 
  th:last-of-type {
    text-align: center;
    white-space: normal;
  }
  td {
    vertical-align: center;
    min-width: 20px;
    padding: 0 0.5em;
  }
  td:first-child {
    @include susy-breakpoint($md) {
      white-space: normal;
      word-wrap: break-word;
    }
  }
  td:last-child {
    font-size: 14px;
    @include susy-breakpoint($md) {
      white-space: normal;
      word-wrap: break-word;
    }
  }
  a {
    text-decoration: underline;
  }
  img {
    width: 20px;
  }
  .fixed-width {
    width: 25px !important;
  }
}
