.faq-toc,.faq-content {
  list-style-type: none;

  .post-link {
      display: block;
      font-size: 1.5rem;
      text-decoration: none;
      line-height: 1.8rem;
      margin-bottom: 0.8em;
      font-size: 1.5rem;
      color: $link-color;
      font-weight: 400;
      opacity: 0.8;
      &:hover {
          opacity: 1;
      }
    }

    // padding for fixed nav

    a[name] {
      padding-top: 80px;
      margin-top: -80px;
      display: inline-block;
    }



}

.faq-toc {
  .post-link {
    margin-bottom: 1.2em;
  }
}