body.faq {
  .post-title {
    margin-left: 30px;
  }
}
.faq-toc,.faq-content {
  list-style-type: none;
  text-align: left;
  .post-link {
      display: block;
      text-decoration: none;
      line-height: 1.8rem;
      margin-bottom: 0.8em;
      font-size: 1.3rem;
      color: $link-color;
      font-weight: 400;
    a {
      color: $link-color;
      &:visited {
        color: $link-color;
      }
    }
    
    }

    // padding for fixed nav

    a[name] {
      padding-top: 80px;
      margin-top: -80px;
      display: inline-block;
    }



}

.faq-toc {
  .post-link {
    margin-bottom: 1.2em;
  }
}