body.faq {
  .post-title {
    margin-left: 30px;
  }

}
.faq-toc,.faq-content {
  text-align: left;
  .post-link {
      display: block;
      text-decoration: none;
      line-height: 1rem;
      font-size: 1rem;
      color: $link-color;
      font-weight: 400;
    }

  a {
      outline: none; // todo: blur for retention of accessibil
      color: $link-color;
      &:visited {
        color: $link-color;
      }
    
  }

    // padding for fixed nav

    a[name] {
      padding-top: 110px;
      margin-top: -70px;
      display: inline-block;
    }



}

.faq-toc {
  padding-left: 22px;
  .post-link {

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: 0.5em;
  }
}

.faq-content {
  list-style-type: none;
  .post-link {
    margin-top: 20px;
    line-height: 1.8rem;
    font-size: 1.3rem;

    color: #000;
    &:visited {
      color: #000;
    }
  }

}

hr.faq-hr {
    border: 0;
    height: 1px;
    margin: 50px 0;
    // background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #a3a3a3, rgba(0, 0, 0, 0));
    border: 0;
    height: 0;
    border-bottom: 1px solid #a3a3a3;
}