 @font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Thin.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

 @font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Thin.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

 @font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

 @font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

 @font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}



