
footer.footer {
  position: relative;
  background-color: $footer-color;
  height: 510px;
  @include susy-breakpoint($md) {
    height: 200px;
    max-height: 320px;
  }
  clear: both;
  
  width: 100%;
  text-align: center;

  padding-bottom: 10px;
  @include susy-breakpoint($md) {
    padding-bottom: 0;
  }

  img.project-of {
    text-align: center;
    max-width: 200px;
    margin-bottom :2.5vh;
    opacity: 0.2;
    display: inline-block;
  }


  padding-top: 10vh;


}

footer.footer ul {
  opacity: 0.65;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;


  li {
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
    line-height: 90px;

    @include span(12 of 12);
    @include susy-breakpoint($md) {
      @include span(3 of 12);
    }
    &:last-of-type {
      padding-bottom: 60px;
      @include omega();
      @include susy-breakpoint($md) {
        padding-bottom: 0;
      }
    }
  }


  a {
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 0.75em;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    color: #eee !important;
    opacity: 0.8;
    &:hover {
      color: #aaa;
      text-decoration: none;
    }
  }
  img {
    display: inline-block;
    max-width: 120px;
  }
} 