
footer.footer {
  background-color: $footer-color;
  height: 400px;
  @include susy-breakpoint($md) {
    height: 100px;
  }
  clear: both;
  
  width: 100%;
  text-align: center;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  li {
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    @include span(12 of 12);
    @include susy-breakpoint($md) {
      @include span(3 of 12);
    }
    &:last-of-type {
      @include omega();
    }
  }

  img:nth-of-type(1) {
    text-align: center;
    max-width: 200px;
  }
  a {
    font-family: 'Roboto Slab';
    font-weight: 400;
    text-transform: lowercase;
    display: inline-block;
    text-decoration: none;
    color: #ccc;
    &:hover {
      color: #aaa;
      text-decoration: none;
    }
  }
  img:nth-of-type(2) {
    display: inline-block;
    max-width: 120px;
  }
} 