.three-col {
  min-height: 350px;
  width: 100%;
  @include susy-breakpoint($md) {
    min-height: 200px;
    margin: 1em 0;
  }

  &.reqs {
    @include susy-breakpoint($md) {
      width: 95%;
      padding: 0 2.5%;
    }

    @include susy-breakpoint($xl) {
      width: 90%;
      margin: 0 5%;
    }
  }

  img {
    width: 70px;
    height: 70px;
    @include susy-breakpoint($md) {
      width: 100px;
      height: 100px;
    }
  }

  .col {
    width: 100%;
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin-bottom: 2em;
    @include susy-breakpoint($md) {
      flex-direction: column;
      width: 30%;
    }
  }

  .text-wrapper {
    display: inline-block;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    margin-left: 1em;
    @include susy-breakpoint($md) {
      font-size: 16px;
      margin: 1em 0;
    }
  }

  .hanging-indent {
    margin-left: 2em;
    padding-left: 2em;
    text-indent: -2em;
    @include susy-breakpoint($md) {
      padding-left: 22px;
      text-indent: -22px;
      margin: 1rem 10%;
    }
  }
}
