$certbot-logo: 'http://placehold.it/600x300';

header.hero {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  @include susy-breakpoint($md) {
    height: 70vh;
  }
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  background-color: #000;
  clear: both;

}

header.background-image {
    background-image: url($certbot-logo);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #fff;
}

