div.hero {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  padding-left: 20px;
  @include susy-breakpoint($md) {
    padding-top: 5em;
  }
  // padding-bottom: 1em;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 200px;
  overflow: hidden;
  text-align: center;
  color: #000;
  background-color: #fff;
  clear: both;

  @include susy-breakpoint($md) {
    height: 250px;
    min-height: 0;
  }

  h1 {
    text-align: left;
    padding: 0 50px;
  }

  p {
    text-align: center;
    padding: 0 50px;
  }
  .instruction-widget {
    margin-bottom: auto;
    width: 100%;
  }
}
