/*
 * Home Page divs
 */

div.home-https {
  display: block;
  text-align: center;
  min-height: 225px;

  @include susy-breakpoint($md) {
    min-height: 350px;
  }

  h1 {
    text-align: center;
    margin: 0;
    font-size: 24px;
    @include susy-breakpoint($md) {
      font-size: 32px;
    }
    img {
      width: 25px;
      height: 25px;
      padding-bottom: 5px;

      @include susy-breakpoint($md) {
        width: 50px;
        height: 50px;
      }
    }
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    font-family: $base-font-family;
    padding-top: 1em;
    @include susy-breakpoint($md) {
      padding: 0;
      margin-bottom: 1.2em;
      font-weight: 300;
      font-family: $header-font-family;
      font-size: 20px;
    }
    @include susy-breakpoint($lg) {
      font-size: 22px;
    }
    @include susy-breakpoint($xl) {
      font-size: 24px;
    }

    a {
      // Mobile only
      font-weight: bold;
      color: $text-color;
      text-decoration: underline;
      &:after {
        content: ' >';
      }
    }
  }

  .lightest-gray-bg {
    padding: 10px 0;
    background-color: #EAEAEA;
    @include susy-breakpoint($md) {
      background-color: #F4F4F4;
    }
  }

  .light-gray-bg {
    background-color: #EAEAEA;
  }

  .med-gray-bg {
    background-color: #EAEAEA;
    @include susy-breakpoint($md) {
      background-color: #D9D9D9;
    }
  }

  .col-50 {
    float: left;
    width: 47%;
    min-height: 170px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 1em;
    @include susy-breakpoint($md) {
      height: 250px;
      width: 50%;
      padding: 0;
    }
    @include susy-breakpoint($lg) {
      height: 300px;
    }
    @include susy-breakpoint($xl) {
      height: 350px;
    }
  }
  .gif {
    display: none;
    @include susy-breakpoint($lg) {
      background-color: #FFFFFF;
      display: block;
      margin: 0 10%;
      margin-top: 2em;
    }
  }

  .content-wrapper {
    text-align: left;
    @include susy-breakpoint($md) {
      margin: 0 2em;
    }
    @include susy-breakpoint($lg) {
      margin: 0 10%;
    }
  }

  .col {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 175px;
    @include susy-breakpoint($md) {
      padding-top: 2em;
      flex-direction: row;
    }
    @include susy-breakpoint($lg) {
      height: 225px;
      align-items: stretch;
    }
    @include susy-breakpoint($xl) {
      height: 265px;
    }

    .circle {
      background: #FFFFFF;
      border: 2px solid $certbot-red;
      padding: 10px;
      border-radius: 50%;
      text-align: center;
      display: inline-block;
      @include susy-breakpoint($md) {
        display: none;
        text-align: left;
        background: none;
        border: none;
        padding: 0;
      }
    }

    img {
      width: 75px;
      height: 70px;
      margin-bottom: 5px;
      @include susy-breakpoint($md) {
        width: 150px;
        height: 100px;
        margin: 0;
        padding-left: 1em;
      }
      @include susy-breakpoint($lg) {
        width: 250px;
        height: 150px;
        padding-left: 1em;
      }
      @include susy-breakpoint($xl) {
        width: 300px;
        height: 200px;
        padding-left: 5%;
      }
    }
  }

  img.right {
    margin-top: 5px;
    margin-bottom: 0;
    @include susy-breakpoint($md) {
      order: 99;
      margin: 0;
      padding-left: 0;
      padding-right: 1em;
    }
    @include susy-breakpoint($xl) {
      padding-left: 0;
      padding-right: 5%;
    }
  }
}

.use-certbot {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  text-align: left;
  padding: 1em;
  @include susy-breakpoint($md) {
    border: 3px solid #CACACA;
    margin: 1em;
    padding: 20px;
  }

  h1 {
    text-align: left;
    margin-bottom: 1em;
    font-size: 20px;
    font-weight: 300;
    @include susy-breakpoint($md) {
      font-weight: 400;
      font-size: 32px;
    }
  }

  a {
    color: $text-color;
    text-decoration: underline;
    &:hover {
      color: $link-color;
    }
  }
}

.home-further-links {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  @include susy-breakpoint($md) {
    flex-direction: row;
  }
  .col {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    @include susy-breakpoint($md) {
      width: 50%;
    }
  }
  img {
    width: 100px;
    height: 150px;
  }
  img.wide {
    width: 200px;
    height: 150px;
  }
  span.label {
    font-family: $header-font-family;
    font-size: 18px;
    @include susy-breakpoint($md) {
      font-size: 24px;
    }
  }
  a.link-button {
    margin-top: 0.5em;
    padding: 5px 25px;
    @include susy-breakpoint($md) {
      padding: 5px 35px;
    }
  }
}
