/*
 * Home Page divs
 */

div.home-https {
  display: block;
  text-align: center;
  
  min-height: 225px;
  @include susy-breakpoint($md) {
    min-height: 350px;
  }

  h1 {
    text-align: center;
    margin: 0;
    font-size: 24px;
    @include susy-breakpoint($md) {
      font-size: 32px;
    }
  }

  img {
    width: 85px;
    height: 85px;
    @include susy-breakpoint($md) {
      width: 100px;
      height: 200px;
    }
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    font-family: $base-font-family;
    padding-top: 1em;
    @include susy-breakpoint($md) {
      padding: 0;
      margin-bottom: 30px;
      font-size: 24px;
      font-weight: 300;
      font-family: $header-font-family;
    }

    a {
      // Mobile only
      font-weight: bold;
      color: $text-color;
      text-decoration: underline;
      &:after {
        content: ' >';
      }
    }
  }

  .lightest-gray-bg {
    padding: 10px 0;
    background-color: #EAEAEA;
    @include susy-breakpoint($md) {
      background-color: #F4F4F4;
    }
  }

  .light-gray-bg {
    background-color: #EAEAEA;
  }

  .med-gray-bg {
    background-color: #EAEAEA;
    @include susy-breakpoint($md) {
      background-color: #D9D9D9;
    }
  }

  .gif {
    display: none;
    @include susy-breakpoint($md) {
      background-color: #FFFFFF;
      display: block;
      margin: 2rem 10%;
    }
  }

  .content-wrapper {
    text-align: left;
    margin: 0 10%;
  }
}

.use-certbot {
  outline: 1px solid #000000;
  text-align: left;
  padding: 1em;
  @include susy-breakpoint($md) {
    outline: 3px solid #CACACA;
    margin: 1em;
    padding: 20px;
    padding-left: 50px;
  }

  h1 {
    text-align: left;
    margin-bottom: 1em;
  }

  img {
    width: 70px;
    height: 70px;
    @include susy-breakpoint($md) {
      width: 100px;
      height: 100px;
    }
  }

  div.reqs {
    height: 350px;
    width: 100%;

    @include susy-breakpoint($md) {
      width: 80%;
      margin: 0 10%;
      height: 300px;
    }

    .col {
      width: 100%;
      display: inline-flex;
      align-items: center;
      text-align: center;
      margin-bottom: 2em;
      @include susy-breakpoint($md) {
        width: 33%;
        flex-direction: column;
      }
    }

    .text-wrapper {
      display: inline-block;
      text-align: left;
      margin-left: 2em;
      padding-left: 2em;
      text-indent: -2em;
      font-size: 14px;
      font-weight: bold;
      @include susy-breakpoint($md) {
        font-size: 16px;
        padding-left: 22px;
        text-indent: -22px;
        margin: 1rem 20%;
      }
    }
  }

  a {
    color: $text-color;
    text-decoration: underline;
    &:hover {
      color: $link-color;
    }
  }
}

.instructions .use-certbot {
  h1 {
    padding: 0;
    font-size: 2em;
  }
  .reqs {
    width: 90%;
    margin: 5%;
  }
}

.col-60 {
  display: inline-block;
  height: auto;
  @include susy-breakpoint($md) {
    width: 60%;
    float: left;
  }
}

.col-50 {
  float: left;
  width: 47%;
  min-height: 170px;
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-top: 1em;
  @include susy-breakpoint($md) {
    width: 50%;
    padding: 0;
    height: auto;
  }
}

.col-40 {
  display: inline-block;
  height: auto;
  @include susy-breakpoint($md) {
    float: left;
    width: 40%;

    &.right {
      float: right;
    }
  }
}

.centered {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.italic {
  font-style: italic;
  font-weight: 300;
}

.mobile-hidden {
  visibility: hidden;
  display: none;
  @include susy-breakpoint($md) {
    visibility: visible;
    display: initial;
  }
}

.mobile-only {
  visibility: visible;
  display: initial;
  @include susy-breakpoint($md) {
    visibility: hidden;
    display: none;
  }
}

.home-further-links {
  overflow: auto;
  padding-bottom: 2rem;
  .col-50 {
    display: flex;
    flex-direction: column;
  }
  img {
    width: 100px;
    height: 150px;
  }
  span.label {
    font-family: $header-font-family;
    font-size: 24px;
  }
  a.link-button {
    margin-top: 0.5em;
    padding: 5px 35px;
  }
}
