select {
  background: transparent;
  width: 200px;
  border: 2px solid $certbot-red;
  height: 34px;
  text-align:center;
  appearance: none;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 20px;
  margin: 0 1em;

  option {
    text-align: left;
  }
  &:hover {
    cursor: pointer;
  }

  display: block;
  margin-top: 1.5em;
  @include susy-breakpoint($md) {
    display: inline-block;
    margin-top: 0;
  }


  background: url(../images/chevron-down.png) 94% / 15% no-repeat transparent;
  background-size: 12px;
}

#using,#on {
  display: none;
  @include susy-breakpoint($md) {
    display: inline-block;
  }
}


.advanced.instruction-pane {
  display: none;
}

.instruction-widget  {
  @include susy-breakpoint($md) {
    font-size: 1.2em;
  }
  text-align: center;
  select {
    height: 30px;
    font-size: 14px;
  }

}

h1.instruct {
  color: $header-grey;
}
.instructions.content {
  background-color: #fff;
  border: 1px solid $content-stroke;
  padding: 2em;
}

.advanced.instruction-pane {
  display: none;
}