
select {
  background: transparent;
  width: 200px;
  border: 2px solid $certbot-red;
  height: 34px;
  text-align:left;
  appearance: none;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 20px;
  margin: 0 1em;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px red;
  }
  option {
    text-align: left;
  }
  &:hover {
    cursor: pointer;
  }

  display: block;
  margin-top: 1.5em;
  @include susy-breakpoint($md) {
    display: inline-block;
    margin-top: 0;
  }


  background: url(../images/chevron-down.png) 94% / 15% no-repeat transparent;
  background-size: 12px;
}

#using,#on {
  display: none;
  @include susy-breakpoint($md) {
    display: inline-block;
  }
}


.advanced.instruction-pane {
  display: none;
}

.instruction-widget  {
  @include susy-breakpoint($md) {
    font-size: 1.2em;
  }
  text-align: center;
  select {
    height: 30px;
    font-size: 14px;
  }

}

h1.instruct {
  color: $header-grey;
}

.instruction-pane-wrapper {
  border: 1px solid $content-stroke;
  padding: 2em;
}


.instruction-pane {
  h3 {
    font-family: 'Roboto Slab';
    font-weight: 400;
    margin-top: 1em;
    font-size: 1.4em;
    margin-bottom: 1.6em;
  }
}
.instructions.content {

  background-color: #fff;

  
  position: relative;
  text-align: center;

  .instruction-pane {
    text-align: left;
  }

  .tab {

    width: 120px;
    @include susy-breakpoint($ph) {
      width: 180px;
    }
    @include susy-breakpoint($md) {
      width: 250px;
    }
    display: inline-block;
    padding: 0.8em 0;
    font-family: 'Roboto Slab';
    font-weight: 400;
    color: rgba(0,0,0,0.4);
    text-transform: lowercase;

    &:not(.active) {
      $stroke: #f3f3f3;
      border-left: 1px solid $stroke;
      border-top: 1px solid $stroke;
      border-right: 1px solid $stroke;
      background-color: rgba(0,0,0,0.05);
      color: #aaa;
      &:hover {
        $darkstroke: #e6e6e6;
        cursor: pointer;
        background-color: $darkstroke;
        color: #666;
        border-left: 1px solid $darkstroke;
        border-right: 1px solid $darkstroke;
        border-top: 1px solid $darkstroke

      }
    }

    &.active {
      border-left: 1px solid $content-stroke;
      border-right: 1px solid $content-stroke;
      border-top: 1px solid $content-stroke;
    }

  }

  .tab.automated.active, .tab.advanced.active {
    color: rgba(0,0,0,1);
    &:after {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      margin-top: 12px;
      z-index: 5;
      border-bottom: 5px solid #fff;
    }
    // border-left: 1px solid #000;
    // border-right: 1px solid #000;
    // border-top: 1px solid #000;
    // background-color: rgba(0,0,0,0.05);
  }



  // .tab.advanced {
  //   margin-top: -50px;
  // }

  .permalink {
    // display: none; // until figure out where to put it
    clear: both;
    a {
      color: $header-grey;
      font-family: 'Roboto Slab';
      font-size: 1.4em;
      
    }
    margin-bottom: 1.2em;
    overflow: hidden;
    a[name] { // due to navbar above
      padding-top: 75px;
      margin-top: -75px;
      display: inline-block;
    }


  }
}

.advanced.instruction-pane {
  display: none;
}