.instructions {
  .instruction-widget span {
    // instructions page
    font-size: 22px;
    @include susy-breakpoint($lg) {
      font-size: 30px;
    }
  }
  .wrapper {
    padding: 0;
    @include susy-breakpoint($md) {
      width: 70%;
    }
  }
  h1 {
    margin-left: 0.5em;
    @include susy-breakpoint($md) {
      padding: 1em 0;
      font-size: 35px;
    }
    @include susy-breakpoint($lg) {
      font-size: 45px;
      margin-left: 80px;
    }
  }
  .hero {
    @include susy-breakpoint($md) {
      height: 130px;
      margin-top: 1em;
    }
  }
  .use-certbot {
    margin-bottom: 2em;
    @include susy-breakpoint($md) {
      margin: 0;
      margin-bottom: 2em;
      padding: 1em 2.5em;
    }
    h1 {
      @include susy-breakpoint($md) {
        padding: 0;
        margin: 0.5em 0;
        font-size: 24px;
      }
    }
    p {
      font-size: 16px;
    }
    .three-col.reqs {
      @include susy-breakpoint($md) {
        width: 100%;
        margin: 0;
        padding: 0;
      }
      .col {
        @include susy-breakpoint($md) {
          margin-bottom: 0;
          width: 33%;
        }
        .text-wrapper {
          font-size: 14px;
          @include susy-breakpoint($md) {
            margin: 1em 5%;
          }
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.instructions-footer {
  margin-top: 3em;
  position: relative;

  text-align: center;

  width: 100%;

  .col {
    height: 100%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2em;
    @include susy-breakpoint($md) {
      min-height: 250px;
      width: 31%;
      margin-left: 1%;
      margin-right: 1%;
    }
  }

  img {
    width: 100px;
    height: 100px;
  }

  .text-wrapper {
    margin: 1em 5%;
    font-size: 16px;
    @include susy-breakpoint($md) {
      margin-bottom: auto;
    }
  }

  .link-button-wide {
    @include button-clear;
    margin: 0.5em 1em;
    font-family: $header-font-family;
    font-weight: 300;
    @include susy-breakpoint($md) {
      @include link-button;
      padding: 5px 0;
      width: 90%;
      margin: 0 5%;
    }
  }
}

input,
select {
  background: transparent;
  border: 2px solid $certbot-red;
  height: 34px;
  appearance: none;
  border-radius: 20px;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0.5em 0;

  @include susy-breakpoint($md) {
    margin: 0 1em;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px red;
  }

  &:hover {
    cursor: pointer;
  }
}

#using,#on {
  display: none;
  @include susy-breakpoint($md) {
    display: inline-block;
  }
}


.advanced.instruction-pane {
  display: none;
}

.instruction-widget  {
  text-align: center;
  min-height: 150px;
  @include susy-breakpoint($md) {
    min-height: 0;
    flex: 0 0 100%;
    font-size: 1.2em;
  }
  span {
    // homepage only
    font-size: 40px;
    font-weight: bold;
  }

  input[type=submit] {
    background-color: $certbot-red;
    color: white;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
  }

  select {
    text-align: center;
    height: 2em;
    font-size: 18px;
    width: 95%;

    @include susy-breakpoint($md) {
      font-size: 14px;
      width: 200px;
    }

    option {
      text-align: center;
    }

    background: url(../images/chevron-down.png) 94% / 15% no-repeat transparent;
    background-size: 12px;
  }
  .js-only {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    @include susy-breakpoint($md) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex: 0 1 auto;
    }
  }
  .not-sure {
    text-align: right;
    width: 100%;
    padding-top: 0.5em;
    @include susy-breakpoint($md) {
      flex: 0 0 100%;
    }
    a {
      font-weight: bold;
      color: $text-color;
      text-decoration: underline;
      &:hover {
        color: $link-color;
      }
    }
  }
}

tt {
  font-family: 'VeraMono' !important;
  font-weight: bold;
  font-size: 0.925em;
}

h1.instruct {
  color: $header-grey;
}

.instruction-pane-wrapper {
  border: 1px solid $content-stroke;
  padding: 1em 5px;
  @include susy-breakpoint($md) {
    padding: 2em;
  }
}


.instruction-pane {
  ol {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 20px;
    margin: 1em 1.1em;
    @include susy-breakpoint($md) {
      margin-left: 30px;
      font-size: 30px;
    }
    .hidden {
      display: none;
    }
    p {
      font-size: 16px;
      margin-bottom: 2em;
      margin-left: -1em;
      @include susy-breakpoint($md) {
        margin-left: 0;
        font-size: 18px;
      }
    }
    ul {
      list-style-type: none;
      margin-top: 0;
      margin-left: 1em;
      p {
        margin-left: 0;
      }
    }
    h3 {
      font-size: 22px;
      font-weight: bold;
      font-style: italic;
      font-family: $base-font-family;
      margin-left: -0.9em;
      @include susy-breakpoint($md) {
        margin-left: 0;
      }
    }
    tt {
      font-size: 14px;
    }
    .link-button {
      font-size: 14px;
      font-weight: bold;
      padding: 5px 20px;
      @include susy-breakpoint($md) {
        padding: 5px 15px;
        font-weight: 400;
        font-size: 18px;
      }
    }
  }
}
.instructions.content {
  background-color: #fff;


  position: relative;
  text-align: center;

  .instruction-pane {
    text-align: left;
  }

  .centered {
    text-align: center;
  }
  a {
    img {
      height: 20px;
      width: 20px;
      margin-bottom: 0.3em;
    }
  }

  pre {
    &:before {
      content: '$ ';
    }
    @include susy-breakpoint($md) {
      white-space: pre-line;
    }
  }

  pre.no-before {
    white-space: nowrap;
    overflow: scroll;
    @include susy-breakpoint($md) {
      overflow: auto;
    }
    &:before {
      content: '';
    }
    ol {
      margin: 0;
    }
    li {
      list-style-type: none;
      white-space: nowrap;
      font-family: 'VeraMono';
      font-size: 14px;
      &:before {
        content: '$ ';
      }
      @include susy-breakpoint($md) {
        white-space: normal;
      }
    }
  }

  pre.one-line {
    white-space: nowrap;
  }

  .tab {
    width: 120px;
    display: inline-block;
    padding: 0.8em 0;
    font-family: 'Roboto Slab';
    font-weight: bold;
    color: rgba(0,0,0,0.4);
    text-transform: lowercase;

    @include susy-breakpoint($ph) {
      width: 180px;
    }
    @include susy-breakpoint($md) {
      font-weight: 400;
      width: 250px;
    }
    &:not(.active) {
      border-left: 1px solid $stroke;
      border-top: 1px solid $stroke;
      border-right: 1px solid $stroke;
      background-color: rgba(0,0,0,0.05);
      color: #666;
      &:hover {
        cursor: pointer;
        background-color: $darkstroke;
        color: black;
        border-left: 1px solid $darkstroke;
        border-right: 1px solid $darkstroke;
        border-top: 1px solid $darkstroke

      }
    }

    &.active {
      border-left: 1px solid $content-stroke;
      border-right: 1px solid $content-stroke;
      border-top: 1px solid $content-stroke;
    }

  }

  .tab.automated.active, .tab.advanced.active {
    color: rgba(0,0,0,1);
    &:after {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      margin-top: 12px;
      z-index: 5;
      border-bottom: 5px solid #fff;
    }
    // border-left: 1px solid #000;
    // border-right: 1px solid #000;
    // border-top: 1px solid #000;
    // background-color: rgba(0,0,0,0.05);
  }

  #instructions-header {
    clear: both;
    a {
      color: #000;
      font-family: 'Roboto Slab';

      outline: none; // this is bad for accessibility but blur() isn't working in the js, need to fix
      @include susy-breakpoint($md) {
        font-size: 1.4em;
      }
    }
    margin-bottom: 1.2em;
    overflow: hidden;
    a[name] { // due to navbar above
      padding-top: 75px;
      margin-top: -75px;
      display: inline-block;
    }
  }
}

.advanced.instruction-pane {
  display: none;
}

aside.note {
  box-sizing: border-box;
  padding: 1.5em;
  width: 100%;
  min-height: 100px;
  text-align: left;
  border: 2px solid #000;
  @include susy-breakpoint($md) {
    padding: 1em;
  }
  .note-header {
    background-image: url('../images/ImportantNote.svg');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: left center;
    margin-left: -1em;
    padding-left: 50px;
    @include susy-breakpoint($md) {
      background-size: 30px;
      margin-left: 0;
      padding-left: 40px;
    }
    h3 {
      font-family: $header-font-family;
      font-style: normal;
    }
  }
  p {
    font-size: 16px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
