$nav-height: 150px;
$sm-nav-height: 60px;
$nav-color:  rgba(255,255,255,0.95);
$nav-font-color: rgba(255,255,255,0.75);
$nav-font: 'Roboto Slab';
$nav-font-size: $base-font-size / 1.5;
$nav-text-transform: lowercase;
$nav-lg-width: 80em;

body {
  margin-top: $sm-nav-height;
  @include susy-breakpoint($md) {
    margin-top: $nav-height;
  }
}

nav.main-nav {
  z-index: 10;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: $nav-color;

  height: $sm-nav-height;

  @include susy-breakpoint($md) {
    height: $nav-height;
  }

  .logo {
    padding: 0;
    width: 95%;
    margin: 0 auto;
    display: inline-block;
    z-index: 11;

    @include susy-breakpoint($xl) {
      font-size: $base-font-size;
      width: 80em;
    }
    a {
      float: left;
    }
    img {
      padding-top: 10px;
      width: 100px;
      @include susy-breakpoint($md) {
        width: 200px;
        top: 70px;
      }
    }
  }

  a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    &:visited {
      color: inherit;
    }
  }

  ul {
    padding: 0;

    @include susy-breakpoint($md) {
      margin: 0;
      padding: 0 1em;
      width: 100%;
    }

    @include susy-breakpoint($xl) {
      width: 80em;
      font-size: $base-font-size;
      margin: 0 auto;
    }


    display: flex;
    justify-content: space-between;
    margin-bottom: 0 !important;
    list-style-type: none;
    line-height: 70px;
    font-size: 0.75em;
    letter-spacing: 0em;

    &:after {
      content: "";
    }

    li {
      display: none;
      
      @include susy-breakpoint($md) {
        display: inline-block;
      }
      text-align: center;
      text-transform: $nav-text-transform;
      font-family: $nav-font;
      color: #000;
      
      a {
        font-weight: bold;
        font-size: 14px;
        @include susy-breakpoint($xl) {
          font-size: $base-font-size;
        }
      }

      &.donate {
        text-transform: none;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        width: 100%;
        font-size: 1.5em;
        &.mobile-only {
          display: inline-block;
          z-index: 11;
          @include susy-breakpoint($md) {
            display: none;
          }
        }
        @include susy-breakpoint($md) {
          color: $certbot-red;
          position: relative;
          width: auto;
          font-size: inherit;
          @include susy-breakpoint($md) {
            font-size: $base-font-size;
          }
        }
        &:hover {
          &:after {
            position: absolute;
            content: '❤';
            margin-left: 5px;
          }
        }
      }

      &.active {
        color: rgba(0,0,0,0.95);
      }

      &:hover {
        &:not(.donate) {
          color: $certbot-red;
        }
      }

    }
  }
}

nav.main-nav.fixed {
  position: fixed;
}
