$lg-padding: 20%;
$lg-bullet-size: 70px;
$sm-bullet-size: 45px;

body.page .page-content {
  padding: 0;
  margin: 0;
}

.page .header-wrapper {
  margin: 0 1em;
  padding-top: 2em;
  @include susy-breakpoint($lg) {
    padding: 0 $lg-padding;
    padding-top: 40px;
    margin: 0;
  }
  h1 {
    color: #000;
    text-transform: lowercase;
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    @include susy-breakpoint($md) {
      font-weight: 400;
      font-size: 40px;
    }
  }
}
.page .content-wrapper {
  background-color: #F3F5F7;
  padding: 1em;
  @include susy-breakpoint($lg) {
    padding: 30px $lg-padding;
  }
  h2 {
    a {
      color: $text-color;
    }
    font-size: 22px;
    @include susy-breakpoint($md) {
      font-weight: 400;
      font-size: 32px;
      margin-bottom: 0.4em;
    }
  }
  p {
    font-size: 16px;
    @include susy-breakpoint($md) {
      font-size: 18px;
    }
  }
  ul {
    list-style: none;
    li {
      p {
        margin-bottom: 0;
      }
      &:before {
        content: '+ ';
      }
    }
  }
  .logos {
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin: 1em 25%;
    @include susy-breakpoint($md) {
      float: right;
      width: 30%;
      margin: 1.5em;
    }

    &.mobile-hidden {
      display: none;
      @include susy-breakpoint($md) {
        display: inline-flex;
      }
    }

    &.mobile-only {
      display: inline-flex;
      @include susy-breakpoint($md) {
        display: none;
      }
    }

    img {
      flex: 0 0 100%;
      float: none;
      margin: 0.5em auto;
      @include susy-breakpoint($md) {
        width: 300px;
        margin-bottom: 1em;
      }
    }
  }
}

@mixin bullet-image {
  margin-bottom: 2em;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: $sm-bullet-size;
  min-height: $sm-bullet-size;
  padding-left: $sm-bullet-size + 10px;
  @include susy-breakpoint($md) {
    background-size: $lg-bullet-size;
    min-height: $lg-bullet-size;
    padding-left: $lg-bullet-size + 15px;
  }
  &:before {
    content: '';
  }
}

ul.image-bullets {
  list-style: none;
  margin: 2em 0;
  font-weight: bold;
  font-size: 16px;
  @include susy-breakpoint($md) {
    font-size: 22px;
    font-style: normal;
    margin-left: 75px;
  }

  li.plus-bullet {
    @include bullet-image;
    background-image: url('../images/BlackCircle-Plus.svg');
  }
  li.mm-bullet {
    @include bullet-image;
    background-image: url('../images/BlackCircle-Chat.svg');
  }
  li.gh-bullet {
    @include bullet-image;
    background-image: url('../images/BlackCircle-Code.svg');
  }
  li.heart-bullet {
    @include bullet-image;
    background-image: url('../images/BlackCircle-Donate.svg');
  }
  li.book-bullet {
    @include bullet-image;
    background-image: url('../images/BlackCircle-Documentation.svg');
  }
  li.bulb-bullet {
    @include bullet-image;
    background-image: url('../images/BlackCircle-Lightbulb.svg');
  }
}
a.anchor {
  text-decoration: underline;
}
.anchor:target {
  padding-top: 180px;
}
.page div.p {
  // This is a workaround to allow glossary terms in paragraphs without creating
  // odd linebreaks

  @extend p;
}
div.indent {
  padding-left: 2em;
}

.hosting-footer {
  h2 {
    font-weight: 400;
    font-size: 22px;
    @include susy-breakpoint($md) {
      font-size: 26px;
    }
  }
  p {
    font-family: $header-font-family;
    @include susy-breakpoint($md) {
      font-size: 20px;
    }
  }
  a {
    text-decoration: underline;
    font-weight: bold;
  }
}
