footer.social {
  @include susy-breakpoint($md) {
    display: none;
  }
}

nav.social {
  display: none;
  @include susy-breakpoint($md) {
    display: block;
  }
  position: absolute;
  top: 50px;
  left: 5%;
  @include susy-breakpoint($lg) {
    left: 10%;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      border: 1px solid $certbot-red;
      border-radius: 30px;
      height: 42px;
      width: 42px;
      margin-bottom: 10px;
      transition: all 0.09s linear;
      &:hover {
        background-color: $certbot-red;
        color: #fff;
        transition: all 0.09s linear;
        cursor: pointer;
      }
      i {

        font-size: 30px;
        line-height: 42px;
      }
    }
  }
}


@font-face {
  font-family: "Social";
  src: url("../fonts/Social.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}


[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "Social";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-facebook:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-google:before { content: '\e802'; } /* '' */