@include susy-breakpoint($md) {
  body:not(.index) {
    footer.social {
      padding-top: 2em;
    }
  }
}

footer.social {

  position: fixed;
  width: 100%;
  bottom: 0;
  height: 50px;
  background-color: $nav-color;
  text-align: center;

  z-index: 10;
  @include susy-breakpoint($md) {
    position: relative;
    height: 120px;
  }

  ul {

    position: relative;
    
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: block;
    width: 100%;

    li {
      font-family: "Social";
      display: inline-block;
      line-height: 0;
      width: 50px;
      margin-right: 50px;
      &:last-of-type {
        margin-right: 0;
      }


      transition: all 75ms linear;

      &:hover {
        @include susy-breakpoint($md) {
          background-color: $certbot-red;
          transition: all 75ms linear;
        }
      }

      @include susy-breakpoint($md) {
        border : 1px solid $certbot-red;
        width: 60px;
        height: 60px;
        border-radius: 60px;
        margin-right: 110px;
      }

      a {
        padding: 0;
        margin: 0;
      }
    }
  }
}

.social-icon {
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5px;
  @include susy-breakpoint($md) {
    margin-top: 10px;
  }
  &.facebook {
    background-size: 10px;
    background-image: url('../images/Facebook-Mobile.svg');
    @include susy-breakpoint($md) {
      background-size: 20px;
      background-image: url('../images/Facebook.svg');
    }
  }
  &.twitter {
    background-image: url('../images/Twitter-Mobile.svg');
    background-size: 20px;
    @include susy-breakpoint($md) {
      background-size: 30px;
      background-image: url('../images/Twitter.svg');
    }
  }
  &.donate {
    background-image: url('../images/Heart-Mobile.svg');
    background-size: 18px;
    @include susy-breakpoint($md) {
      background-size: 30px;
      background-image: url('../images/Heart.svg');
    }
  }
}
