.glossary-term {
  display: inline-block;
  text-indent: 0;
  a.glossary-link {
    text-decoration: underline;
    color: $text-color;
    &:hover {
      cursor: pointer;
    }
  }

  &.js-only.disabled {
    width: 0;
    visibility: hidden;
  }
}

/* Tooltip text */
.glossary-term .tooltip {
  background-color: $background-color;
  border: 2px solid $link-color;
  padding: 20px;
  text-align: left;
  cursor: default;
  z-index: 1;

  &.no-js {
    visibility: hidden;
    width: 700px;
    bottom: 100%;
    left: 50%;
    margin-left: -350px;
    position: absolute;
  }

  &.js {
    position: fixed;
    overflow-y: hidden;
    opacity: 0;
    left: 1%;
    right: 1%;
    z-index: 20;

    border-radius: 6px;
    -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3);

    max-height: 0rem;
    padding: 0rem 2rem;
    transition: bottom 200ms ease-out,
    max-height 200ms ease-out,
    padding-top 200ms ease-out,
    padding-bottom 200ms ease-out,
    opacity 100ms ease-out;

    bottom: 0;

    @include susy-breakpoint($md) {
      left: 10%;
      right: 10%;
    }

    @include susy-breakpoint($xl) {
      left: 20%;
      right: 20%;
    }

    &.open {
      opacity: 1;
      bottom: 4rem;
      max-height: 100vh;
      padding: 2rem;
    }

    .close-button {
      float: right;
      &:hover {
        cursor: pointer;
      }
      img {
        height: 30px;
        width: 30px;
      }
    }
  }

  a {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    color: $link-color;
  }

  p {
    color: $text-color;
    font-size: 16px;
    font-weight: 400;
    @include susy-breakpoint($md) {
      font-size: 18px;
    }
  }
  .tooltip-title {
    font-family: $header-font-family;
    font-size: 24px;
    @include susy-breakpoint($md) {
      font-size: 40px;
    }
  }

  .bottom-text {
    text-align: right;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    @include susy-breakpoint($md) {
      font-size: 24px;
    }
  }
}


/* Show the tooltip text when you mouse over the tooltip container */
.glossary-term:hover .tooltip, .tooltip:hover {
  &.no-js {
    visibility: visible;
  }
}
