@charset "utf-8";



// Our variables
$base-font-family: 'Roboto', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$header-font-family: 'Roboto Slab';

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fff;
$brand-color:      #2a7ae2;

$grey-color:       #838383;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$link-color: rgba(64,116,142,1);

// rgba(64,116,142,1);

$grey-title: #838383;
$grey-bg: #ededed;

$grey: #838383;
$grey-cool: #f4f5f7;
$white: #fff;
$header-grey: #d6d6d6;
$header-grey: $grey-title;
$content-stroke: #7c7c7c;
$footer-color: #363636;
$body-bg-color: $grey-cool;
$content-bg-color: $white;
$certbot-red: rgba(236,28,35,1);

$darkstroke: #e6e6e6;
$stroke: #f3f3f3;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin link-button {
  background-color: #FFFFFF;
  color: $text-color;
  border: 1px solid $certbot-red;
  border-radius: 20px;
  font-size: 18px;
  &:hover {
    color: $certbot-red;
    cursor: pointer;
    text-decoration: none;
  }
}

// @mixin susy-breakpoint($breakpoint) {
//     @media all and (min-width: $breakpoint) {
//         @content;
//     }
// }



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "../node_modules/susy/sass/susy",
        "breakpoints",
        "base",
        "layout",
        "fonts",
        "syntax-highlighting",
        "nav",
        "shelf",
        "hero",
        "footer",
        "instruction-widget",
        "faq",
        "social",
        "privacy",
        "warning",
        "homepage",
        "tooltips",
        "page"
;

.page-content  {
    @include container(100%);
    @include susy-breakpoint($md) {
        @include container($ph);
    }
    @include susy-breakpoint($lg) {
        @include container($md);
    }


    .wrapper {

    }

}

a {
  color: $link-color;
  font-weight: 400;
  &:hover {
    color: $link-color;
  }
}

a.link-button {
  @include link-button;
  padding: 5px 15px;
}

html,body,div,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

body {
  margin-top: $nav-height;
}

body.index {
  background-color: #fff;
}
body,p,div {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 300;
  position: relative;

}


h1,h2,h3,h4,h5,h6 {
  font-family: $header-font-family;
}
h1 {
  font-size: 2em;
  font-weight: 400;
  text-align: left;
  margin-top: 0.25em;
  margin-bottom: 0.35em;
}

.three .wrapper {
  // background-color: $grey-bg;
}


.page-content {

  @include container(100%);

  // @include susy-breakpoint($md) {
  //   margin-top: 3%;
  //   @include container (95%);
  // }

  background-color: #fff;

  // .wrapper {
  //   @include susy-breakpoint($md) {
  //     margin-top: 2em;
  //   }
  // }

}
