@charset "utf-8";



// Our variables
$base-font-family: 'Roboto', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$header-font-family: 'Roboto Slab';

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fff;
$brand-color:      #2a7ae2;

$grey-color:       #838383;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$link-color: rgba(64,116,142,1);

// rgba(64,116,142,1);

$grey-title: #838383;
$grey-bg: #ededed;

$grey: #838383;
$grey-cool: #f4f5f7;
$white: #fff;
$header-grey: #d6d6d6;
$header-grey: $grey-title;
$content-stroke: #7c7c7c;
$footer-color: #363636;
$body-bg-color: $grey-cool;
$content-bg-color: $white;
$certbot-red: rgba(236,28,35,1);

$eff-banner: #2E2E2E;
$eff-banner-text: #D9D9D9;

$darkstroke: #e6e6e6;
$stroke: #f3f3f3;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin link-button {
  background-color: #FFFFFF;
  color: $text-color;
  border: 2px solid $certbot-red;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  background-image: none;
  font-family: $base-font-family;
  text-decoration: none;
  padding: 5px 10px;
  &:hover {
    color: $certbot-red;
    cursor: pointer;
  }

  @include susy-breakpoint($lg) {
    padding: 5px 15px;
  }

  @include susy-breakpoint($xl) {
    font-weight: 400;
    font-size: 18px;
  }
}

@mixin button-clear {
  border: none;
  padding: 0;
  text-decoration: underline;
  background-color: transparent;
  font-weight: bold;
  color: $text-color;
}

// @mixin susy-breakpoint($breakpoint) {
//     @media all and (min-width: $breakpoint) {
//         @content;
//     }
// }



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "../node_modules/susy/sass/susy",
        "breakpoints",
        "base",
        "layout",
        "fonts",
        "syntax-highlighting",
        "nav",
        "shelf",
        "hero",
        "footer",
        "instruction-widget",
        "faq",
        "social",
        "privacy",
        "warning",
        "homepage",
        "tooltips",
        "page",
        "grids",
        "datatable"
;

.page-content  {
  @include container(100%);
  @include susy-breakpoint($md) {
    @include container($ph);
  }
  @include susy-breakpoint($lg) {
    @include container($md);
  }
}

a {
  color: $link-color;
  font-weight: 400;
  &:hover {
    color: $link-color;
  }
}

a.link-button {
  @include link-button;
}

html,div,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

body.index {
  background-color: #fff;
}
body,p,div {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 300;
  position: relative;

}

h1,h2,h3,h4,h5,h6 {
  font-family: $header-font-family;
}

h1 {
  font-weight: 400;
}

.page-content {
  @include container(100%);
  background-color: #fff;
}

img.link-arrow {
  padding-left: 0.5em;
  height: 18px;
  width: 8px;
}
