<h2 id="instructions-header"><a href="/lets-encrypt/{{os}}-{{webserver}}.html">{{server_longname}} on {{distro_longname}}</a></h2>
<div class="tab automated active">default</div>
<div class="tab advanced">wildcard certificate</div>


<div class="instruction-pane-wrapper">
  <div class="instruction-pane automated">
    <ol>
      {{> automated_install }}
      {{> automated_get_started }}
    </ol>
  </div>

  <div class="instruction-pane advanced">
    <ol>
      {{> advanced_install }}
      {{> advanced_get_started }}
    </ol>
  </div>

  <div class="instructions-footer">
    <div class="col-thirds">
      <img src="/images/support-icon.svg">
    </div>
    <div class="col-thirds">
      <img src="/images/support-icon.svg">
    </div>
    <div class="col-thirds">
      <img src="/images/support-icon.svg">
    </div>
    <div class="col-thirds">
      <div class="text-wrapper">
        <span>
          Troubleshooting?<br/>
          Encountering an error?
        </span>
      </div>
    </div>
    <div class="col-thirds">
      <div class="text-wrapper">
        <span>
          Need more options to customize your setup?
        </span>
      </div>
    </div>
    <div class="col-thirds">
      <div class="text-wrapper">
        <span>
          Like Certbot? This free, open source project is part of EFF's 
          commitment to make encryption accessible for all.
        </span>
      </div>
    </div>
    <div class="col-thirds">
      <a class="link-button-wide" href="/docs/">Get help</a>
    </div>
    <div class="col-thirds">
      <a class="link-button-wide" href="/docs/">See how to work with Certbot</a>
    </div>
    <div class="col-thirds">
      <a class="link-button-wide" href="/docs/">Donate to Certbot and EFF</a>
    </div>
  </div>
</div>
