<h2 id="instructions-header"><a href="/i/{{os}}-{{webserver}}.html">{{server_longname}} on {{distro_longname}}</a></h2>
<div class="tab automated active">Automated</div>
<div class="tab advanced">Advanced</div>


<div class="instruction-pane-wrapper">
  <div class="instruction-pane automated">
    <div class="install">
{{> automated_install }}
    </div>
    <div class="get-started">
      <h3>Get Started</h3>
{{> automated_get_started }}
    </div>
  </div>

  <div class="instruction-pane advanced">
    <div class="install">
{{> advanced_install }}
    </div>
    <div class="get-started">
      <h3>Get Started</h3>
{{> advanced_get_started }}
    </div>


  </div>

  <div class="three">
      <figure>
        <a href="/docs/">
        <figcaption>
          <p>Documentation</p>
        </figcaption>
        <img src="/images/documentation-icon.svg">
        </a>
      </figure>
      <figure>
        <a href="/support/">
        <figcaption>
          <p>Support</p>
        </figcaption>
        <img src="/images/support-icon.svg">
        </a>
      </figure>
      <figure>
        <a href="https://github.com/certbot/certbot">
        <figcaption>
          <p>Source</p>
        </figcaption>
        <img src="/images/github-mark.png">
        </a>
      </figure>
    </div>
</div>
