<h2 id="instructions-header"><a href="/lets-encrypt/{{os}}-{{webserver}}.html">{{server_longname}} on {{distro_longname}}</a></h2>
<div class="tab automated active">default</div>
<div class="tab advanced">wildcard certificate</div>


<div class="instruction-pane-wrapper">
  <div class="instruction-pane automated">
    <ol>
      {{> automated_install }}
      {{> automated_get_started }}
    </ol>
    </div>
  </div>

  <div class="instruction-pane advanced">
    <ol>
      {{> advanced_install }}
      {{> advanced_get_started }}
    </ol>
  </div>

  <div class="three">
      <figure>
        <a href="/docs/">
        <figcaption>
          <p>Documentation</p>
        </figcaption>
        <img src="/images/documentation-icon.svg">
        </a>
      </figure>
      <figure>
        <a href="/support/">
        <figcaption>
          <p>Support</p>
        </figcaption>
        <img src="/images/support-icon.svg">
        </a>
      </figure>
      <figure>
        <a href="https://github.com/certbot/certbot">
        <figcaption>
          <p>Source</p>
        </figcaption>
        <img src="/images/github-mark.png">
        </a>
      </figure>
    </div>
</div>
