<span id="using">I'm using</span>
<select id="server-select">
  <optgroup>
    <option value="" disabled selected>Software</option>
    {{#webservers}}
      <option value="{{id}}">{{name}}</option>
    {{/webservers}}
  </optgroup>
</select>

<span id="on">on</span>
<select id="os-select">
  <optgroup>
    <option value="" disabled selected>System</option>
    {{#operating_systems}}
      <option value={{id}} data-distro={{distro}} data-version={{version}}>{{name}}</option>
    {{/operating_systems}}
  </optgroup>
</select>
