$grey-cool: #f4f5f7;
$white: #fff;
$header-grey: #d6d6d6;
$content-stroke: rgba(203,209,218,0.4);
$footer-color: #363636;
$body-bg-color: $grey-cool;
$content-bg-color: $white;
$certbot-red: rgba(236,28,35,1);