$menu-width: 260px;
$sidebar-color: #545962;

body {
  > * {
    transition: transform 0.1s linear;
  }
}

body.active {

  overflow: hidden;
  > * {
    transform: translate3d(-$menu-width, 0, 0);
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
 
  }
}

#wrapper {
  z-index: 10;
  background-color: $body-bg-color;
  padding-bottom: 2em;
}

#drawer {
  background-color: red;
  position: fixed;
  top: 0;
  right: -$menu-width;
  width: $menu-width;
  z-index: 1;
  display: block;
  height: 100%;
}

#hamburger {
  display: inline;
  @include susy-breakpoint($md) {
    display: none;
  }
}