<div class="tab automated">Automated</div>
<div class="tab advanced">Advanced</div>
<div class="tab developer"><a href=/developer>Developer guide</a></div>

<div class="instruction-pane-wrapper">
  <div class="instruction-pane automated">
    <div class="install">
      <h3>Install</h3>
        {{{automated_install}}}
    </div>
    <div class="get-started">
      <h3>Get Started</h3>
        {{{automated_get_started}}}
    </div>
  </div>

  <div class="instruction-pane advanced">
    <div class="install">
      <h3>Install</h3>
        {{{advanced_install}}}
    </div>
    <div class="get-started">
      <h3>Get Started</h3>
        {{{advanced_get_started}}}
    </div>
  </div>
</div>