<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="instructions page">

    {% include topnav.html %}
    {% include shelf.html %}

    <div class="header-wrapper">
      <h1>certbot instructions</h1>
    </div>

    <div class="hero">
      <div class="instruction-widget">
        {% include form.html %}
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        {% include use_certbot.html %}
        <div class="instructions content">
          {{ content }}
        </div>
      </div>
    </div>
    
    {% include social.html %}
    {% include footer.html %}
    
    
  </body>

</html>
