<p>
Certbot has a fairly solid beta-quality Apache plugin, which is supported on
many platforms, and automates certificate installation.
</p>
<p>
Due to a security issue, Let's Encrypt has stopped offering the mechanism that
the Apache plugin previously used to prove you control a domain. You can read
more about this <a
href="https://community.letsencrypt.org/t/2018-01-11-update-regarding-acme-tls-sni-and-shared-hosting-infrastructure/50188">here</a>.
</p>
<p>
We are planning on releasing a new version of Certbot in the next few days that
works around this but if you have to obtain a certificate and cannot wait, you
have a couple of options. If you're serving files for that domain out of a
directory on that server, you can run the following command:
</p>
<pre>$ sudo {{base_command}} --authenticator webroot --installer apache</pre>
<p>
If you're not serving files out of a directory on the server, you can
temporarily stop your server while you obtain the certificate and restart it
after Certbot has obtained the certificate. This would look like:
</p>
<pre>$ sudo {{base_command}} --authenticator standalone --installer apache --pre-hook "apachectl -k stop" --post-hook "apachectl -k start"</pre>
<p>
Running either of these commands will get a certificate for you and have
Certbot edit your Apache configuration automatically to serve it. If you're
feeling more conservative and would like to make the changes to your Apache
configuration by hand, you can use the <tt>certonly</tt> subcommand. To see
instructions on how to use this subcommand, select "None of the above" above in
the first drop-down menu.
</p>
<p>
To learn more about how to use Certbot <a href="/docs">read our documentation</a>.
</p>
{{> renewal}}
