<li>
  Choose how you'd like to run Certbot
  <ul>
    <li>
      Either get and install your certificates...
      <p>
      {{#advanced}}
      Run one of the commands in the "Examples" section of the <a href='https://certbot.eff.org/docs/using.html#dns-plugins'>instructions for your DNS provider</a>,
      along with the flag <tt>-i apache</tt>.
      {{/advanced}}
      {{^advanced}}
      Run this command to get a certificate and have Certbot edit your Apache configuration
      automatically to serve it, turning on HTTPS access in a single step.
      <pre>sudo {{base_command}} --apache</pre>
      {{/advanced}}
      </p>
    </li>

    <li>
      Or, just get a certificate
      <p>
      {{#advanced}}
      Run one of the commands in the "Examples" section of the <a href='https://certbot.eff.org/docs/using.html#dns-plugins'>instructions for your DNS provider</a>.
      {{/advanced}}
      {{^advanced}}
      If you're feeling more conservative and would like to make the changes to your Apache
      configuration by hand, run this command.
      <pre>sudo {{base_command}} certonly --apache</pre>
      {{/advanced}}
      </p>
    </li>
  </ul>
</li>

{{> renewal}}
