<li>
  Choose how to run Certbot
  <ul>
    <li>
      Run Certbot: Get & Install your certificates
      <p>
      {{#dns_plugins}}
      Run one of the commands in the "Examples" section of the instructions for your DNS provider,
      along with the flag <tt>-i apache</tt>.
      {{/dns_plugins}}
      {{^dns_plugins}}
      Run this command to get a certificate for you and have Certbot edit your Apache configuration
      automatically to serve it, turning on HTTPS access in a single step.
      <pre>$ sudo {{base_command}} --apache</pre>
      {{/dns_plugins}}
      </p>
    </li>

    <li>
      Run Certbot: Just get a certificate
      <p>
      {{#dns_plugins}}
      Run one of the commands in the “Examples” section of the instructions for your DNS provider.
      {{/dns_plugins}}
      {{^dns_plugins}}
      If you’re feeling more conservative and would like to make the changes to your Apache
      configuration by hand, run this command.
      <pre>$ sudo {{base_command}} certonly --apache</pre>
      {{/dns_plugins}}
      </p>
    </li>
  </ul>
</li>

{{> renewal}}
