<p>
Certbot supports a number of different “plugins” that can be used to obtain and/or install certificates.
</p>
<p>
Since your server architecture doesn't yet {{officially}} support automatic
installation {{imperative}} use the certonly command. Here are some examples:
</p>
<p>
To obtain a cert using the “webroot” plugin, which can work with the webroot directory of any webserver software:
</p>
<pre>
{{base_command}} certonly --webroot -w /var/www/example -d example.com -d www.example.com -w /var/www/thing -d thing.is -d m.thing.is
</pre>
<p>
This command will obtain a single cert for example.com, www.example.com, thing.is, and m.thing.is; it will place files below /var/www/example to prove control of the first two domains, and under /var/www/thing for the second pair.
</p>
<p>
To obtain a cert using a built-in “standalone” webserver (you may need to temporarily stop your existing webserver, if any) for example.com and www.example.com:
</p>
<pre>
{{base_command}} certonly --standalone -d example.com -d www.example.com
</pre>
