{{#advanced}}
<li>
    Get a certificate
    <p>
    Run one of the commands in the "Examples" section of the <a href='/docs/using.html#dns-plugins'>instructions for your DNS provider</a>.
    </p>
</li>
{{/advanced}}
{{^advanced}}
<li>
    Choose how you'd like to run Certbot
    <p>
        Are you ok with temporarily stopping your website?
    </p>
    <h3>Yes, my web server is not currently running on this machine.</h3>
    <p>
        Stop your webserver, then run this command to get a certificate.
        Certbot will temporarily spin up a webserver on your machine.
        <pre>
            sudo {{base_command}} certonly --standalone
        </pre>
    </p>
    <h3>No, I need to keep my web server running.</h3>
    <p>
        If you have a webserver that's already using port 80 and don't want to stop it
        while Certbot runs, run this command and follow the instructions in the terminal.
        <pre>
            sudo {{base_command}} certonly --webroot
        </pre>
    </p>
    <aside class="note">
      <div class="note-header"><h3>Important Note:</h3></div>
            <p>To use the webroot plugin, your server must be configured to serve files from hidden directories. If <tt>/.well-known</tt> is treated specially by your webserver configuration, you might need to modify the configuration to ensure that files inside <tt>/.well-known/acme-challenge</tt> are served by the webserver.</p>
    </aside>
</li>
{{/advanced}}

<li>
    Install your certificate
    <p>
        You'll need to install your new certificate in the configuration file for
        your webserver.
    </p>
</li>

{{> renewal}}
