{{> certonly}}

<p>
Certificate installation with HAProxy is complicated; you probably want to follow one of these guides.
</p>


<h2>Installing a cert in HAProxy</h2>
<br>
<p>
<a href="https://www.digitalocean.com/community/tutorials/how-to-secure-haproxy-with-let-s-encrypt-on-ubuntu-14-04">Digital Ocean</a>
</p>

<p>
<a href="https://daplie.com/articles/lets-encrypt-with-haproxy/">dapile</a>
</p>

{{#advanced}}
<p>
Or you might be interested in using the experimental <a href="https://code.greenhost.net/open/letsencrypt-haproxy">third-party HAProxy plugin</a> from Greenhost.
</p>
{{/advanced}}
