{{> certonly}}

<p>
Haproxy is complicated, you probably want to follow one of these guides
</p>


<h2>Installing a cert in Haproxy</h2>
<p>
<a href="https://www.digitalocean.com/community/tutorials/how-to-secure-haproxy-with-let-s-encrypt-on-ubuntu-14-04">Digital Ocean</a>
</p>

<p>
<a href="https://daplie.com/articles/lets-encrypt-with-haproxy/">dapile</a>
</p>

{{#advanced}}
<p>
Or you might be interested in using <a href="https://code.greenhost.net/open/letsencrypt-haproxy">Greenhost's HAProxy plugin</a>
</p>
{{/advanced}}
