<p>
Certbot is currently only available for UNIX-like operating systems. Although
EFF's Certbot might not work for your use case, there are many <a
href="https://community.letsencrypt.org/t/list-of-client-implementations/2103">
other clients</a> written by other organizations and developers that you may be
able to use to obtain a certificate from Let's Encrypt.
</p>
{{#advanced}}
<p>
Alternatively, you may be able to use Certbot if you have access to a UNIX-like
machine. Using Certbot's manual plugin, you can obtain certificates without
running the software on your target webserver. More information about this
feature can be found in our <a
href="https://certbot.eff.org/docs/using.html#manual">documentation</a>.
</p>
{{/advanced}}
