<li>
{{#cron_included}}
  Test automatic renewal
  <p>
  The Certbot packages on your system come with a cron job or systemd timer that will renew your certificates
  automatically before they expire. You will not need to run Certbot again, unless you change your
  configuration.</p>

{{/cron_included}}
{{^cron_included}}
  Set up automatic renewal
  <p>
  Run the following line, which will add a cron job to <code>/etc/crontab</code>.
  <pre class="one-line">echo "0 0,12 * * * root {{python_name}} -c 'import random; import time; time.sleep(random.random() * 3600)' &amp;&amp; {{base_command}} renew -q" | sudo tee -a /etc/crontab > /dev/null</pre>
  </p>

{{/cron_included}}

  {{#certonly}}
  <p>
  If you needed to stop your webserver to run Certbot, you'll want to
  add <code>pre</code> and <code>post</code> hooks to stop and start your webserver automatically.
  For example, if your webserver is HAProxy, run the following commands to create the hook files
  in the appropriate directory:
  </p>

  <pre class="no-before"><ol><li>sudo sh -c 'printf "#!/bin/sh\nservice haproxy stop\n" > /etc/letsencrypt/renewal-hooks/pre/haproxy.sh'</li>
    <li>sudo sh -c 'printf "#!/bin/sh\nservice haproxy start\n" > /etc/letsencrypt/renewal-hooks/post/haproxy.sh'</li>
    <li>sudo chmod 755 /etc/letsencrypt/renewal-hooks/pre/haproxy.sh</li>
    <li>sudo chmod 755 /etc/letsencrypt/renewal-hooks/post/haproxy.sh</li></ol></pre>

  <p>
  More information is available in the
  <a href='/docs/using.html?highlight=hooks#renewing-certificates'>
  Certbot documentation on renewing certificates</a>.
  </p>
  {{/certonly}}

  <p>You can test automatic renewal for your certificates by running this command:
  <pre>sudo {{base_command}} renew --dry-run</pre></p>
  <p>
  If that command completes without errors, your certificates will renew automatically in the background.
  </p>

</li>

<li>
  Confirm that Certbot worked
  <p>
  To confirm that your site is set up properly, visit <tt>https://yourwebsite.com/</tt> in your browser and
  look for the lock icon in the URL bar.
  </p>
</li>

{{#upgrade_instructions}}
<li>
  [Monthly] Upgrade certbot
  <p>It's important to occasionally update Certbot to keep it up-to-date. To do this, run the
    following command on the command line on the machine.
    <pre class="no-before"><ol>
        <li>{{install_command}} --upgrade {{package}}{{#advanced}} certbot-dns-&lt;PLUGIN&gt;{{/advanced}}</li></ol></pre>
    </p>

  {{#advanced}}<p>As above, replace <code>&lt;PLUGIN&gt;</code> with the name of your DNS provider.</p>{{/advanced}}

  <p>If this step leads to errors, run <code>sudo rm -rf /opt/certbot</code> and repeat all installation instructions.</p>
</li>
{{/upgrade_instructions}}
