<h3>Automating renewal</h3>

You can test automatic renewal for your certificates by running this command:
<pre>
{{base_command}} renew --dry-run
</pre>

If that appears to be working correctly, you can arrange for automatic renewal
by adding a <tt>cron</tt> or <tt>systemd</tt> job which runs the
following:<br>

<pre>{{base_command}} renew --quiet</pre>

<p>More detailed information and options about renewal can be found in <a
href="https://certbot.eff.org/docs/using.html#renewal">the full
documentation</a>.</p>

<aside>Note: if you're setting up a <tt>cron</tt> or <tt>systemd</tt> job, we
recommend running it twice per day (it won't do anything until your
certificates are due for renewal or revoked, but running it regularly would
give your site a chance of staying online in case a Let's Encrypt-initiated
revocation happened for some reason). Please select a random minute within the
hour for your renewal tasks.</aside>
