<p>
If you have <a href="https://en.wikipedia.org/wiki/Superuser">
administrative</a> <a href="https://en.wikipedia.org/wiki/Shell_account">
shell access</a> to your webserver and you're comfortable running commands on
the command line, please select your server software and the operating system
it is running from the dropdown menu above. If you don't have these privileges
on your webserver or you're not familiar with command line server
administration, Certbot probably isn't the best option to enable HTTPS on your
site. Instead, you should check if your hosting provider has built-in Let's
Encrypt support by contacting them or <a
href="https://community.letsencrypt.org/t/web-hosting-who-support-lets-encrypt/6920">
checking this list of supporting providers</a>.
</p>
<p>
If your hosting provider doesn't provide built-in Let's Encrypt support, you
should ask them to add it! Dozens of providers, with millions of customers,
conveniently allow their users to obtain Let's Encrypt certificates
automatically. Let's Encrypt works hard to make adding this support as easy
possible and it is one of the easiest and best ways for users to increase the
security of their websites.
</p>
