<h3>Look for your web hosting provider on this list.</h3>
<p>
    If you have the requirements, select the operating system that the machine run by the web hosting service is using from the dropdown menu, and follow those instructions.
</p>

<h3>No, I don't have all of these requirements.</h3>
<p>
    If not, you'll want to check out our <a href='/hosting_providers'>hosting providers with HTTPS</a> page to learn more about getting a certificate when using shared hosting.
</p>

<h3>Yes, I have these requirements.</h3>
<p>
    If you have the requirements, select the operating system that the machine run by the web hosting service is using from the dropdown menu, and follow those instructions.
</p>
