<p>
Certbot supports a number of different “plugins” that can be used to obtain and/or install certificates.
</p>
<p>
Since your server architecture doesn't yet {{officially}} support automatic
installation {{imperative}} use use the certonlt command to obtain a cert.
</p>
<p>
To obtain a cert using the <a href="https://certbot.eff.org/docs/using.html#webroot">webroot</a> plugin, which can work with the webroot directory of any webserver software, run this command.
</p>

{{#xenial}}
<aside class="note">
    <h4>Note:</h4>
    <p>Ubuntu Xenial has an old version of Certbot packaged for it that lacks a few features. For example the certonly option isn't available, and the <a href="https://certbot.eff.org/docs/using.html#webroot">webroot plugin</a> doesn't have an interactive mode. You can still get a certificate but you'll need to specify all of your variables on the command line.
    </p>
</aside>
{{/xenial}}

<pre>
{{base_command}} certonly --webroot -w /var/www/example -d example.com -d www.example.com -w /var/www/thing -d thing.is -d m.thing.is
</pre>
<p>
This command will obtain a single cert for example.com, www.example.com, thing.is, and m.thing.is; it will place files below /var/www/example to prove control of the first two domains, and under /var/www/thing for the second pair.
</p>
<aside class="note">
    <h4>Note:</h4>
    <p>To use the webroot plugin, your server must be configured to serve files from hidden directories. If /.well-known is treated specially by your webserver configuration, you might need to modify the configuration to ensure that files inside /.well-known/acme-challenge are served by the webserver.</p>
</aside>
<p>
To obtain a cert using a built-in “standalone” webserver (you may need to temporarily stop your existing webserver, if any) for example.com and www.example.com:
</p>
<pre>
{{base_command}} certonly --standalone -d example.com -d www.example.com
</pre>
