doctype html
html(lang="en")
  head

    link(rel="stylesheet" type="text/css" href="static/css/main.min.css")
    script(type="text/javascript" src="static/js/main.min.js" defer="defer")

    meta(name="viewport" content="width=device-width, initial-scale=1")
    title EFF

  body

    include ../components/navbar/navbar.pug
    include ../components/hamburger/hamburger.pug
    include ../components/hero/hero.pug
    include ../components/content/content.pug
    include ../components/footer/footer.pug

